<template>
  <v-file-input
          ref="fileInput"
          :accept="acceptFiles"
          class="base-file-input"
          :label="label"
          :placeholder="placeholder"
          color="#b7b7b7"
          @change="fileChange($event)"
          :error="error"
          :error-messages="errorMessage"
          prepend-icon=""
          :messages="messages"
          :rules="rules"
          :disabled="disabled"
          outlined
          light
  >
    <template v-slot:append>
      <base-button
              outlined
              :height="56"
              :min-width="screenSize ? 130 : 56"
              style="margin-top: -17px; margin-right: -12px"
              @click="selectFileButtonClick"
      >
        <span>
          <slot></slot>
        </span>
        <svg width="20px" height="24px" version="1.1" viewBox="0 0 20 24" xmlns="http://www.w3.org/2000/svg">
          <title>upload</title>
          <desc>Created with Sketch.</desc>
          <g fill="none" fill-rule="evenodd">
            <g fill="#EF6C00" fill-rule="nonzero">
              <path id="a" d="m18.12 14.2c-0.064836 0.022096-0.13516 0.022096-0.2 0-0.06 0-0.11 0-0.14 0.11s-0.07 0.12-0.09 0.12 0 0.06 0 0.18v0.18 4.77c-0.0052111 0.65771-0.27359 1.2859-0.74521 1.7444-0.47162 0.45847-1.1072 0.70897-1.7648 0.69559h-10.77c-0.65155 0.010236-1.2781-0.25052-1.73-0.72-0.44467-0.44899-0.68978-1.0582-0.68-1.69v-4.9c0.0065469-0.1122-0.029125-0.22278-0.1-0.31-0.078709-0.084448-0.18522-0.1377-0.3-0.15-0.11868-0.025109-0.23897-0.041817-0.36-0.05h-0.75c-0.12965-0.0013165-0.25357 0.053353-0.34 0.15-0.095591 0.087194-0.15004 0.21061-0.15 0.34v4.9c-0.016865 1.1731 0.44965 2.3014 1.29 3.12 0.81521 0.8477 1.944 1.3216 3.12 1.31h10.77c1.1704 0.0026631 2.2937-0.46111 3.1213-1.2887s1.2914-1.9509 1.2887-3.1213v-4.9c0.0065469-0.1122-0.029125-0.22278-0.1-0.31-0.075573-0.088548-0.18382-0.14267-0.3-0.15-0.11868-0.025109-0.23897-0.041817-0.36-0.05h-0.71v0.02z"/>
              <path d="m9.11 0.29-8.33 8.33c-0.36825 0.3863-0.36825 0.9937 0 1.38 0.17673 0.19378 0.42775 0.30292 0.69 0.3h4.41v6.85c0 0.55228 0.44772 1 1 1h5.87c0.55228 0 1-0.44772 1-1v-6.86h4.41c0.26225 0.0029197 0.51327-0.10622 0.69-0.3 0.36194-0.38495 0.36194-0.98505 0-1.37l-8.37-8.33c-0.38495-0.36194-0.98505-0.36194-1.37 0z"/>
            </g>
          </g>
        </svg>
      </base-button>
    </template>
  </v-file-input>
</template>

<script>
  import BaseButton from "./BaseButton.vue";
  export default {
    components: {
      BaseButton,
    },
    props: {
      label: String,
      placeholder:String,
      error: {
        type: Boolean,
      },
      errorMessage: {
        type: String,
      },
      messages: Array,
      rules: Array,
      disabled: Boolean,
      acceptFiles: String,
    },
    data: () => ({
      screenSize: false,
    }),
    methods: {
      selectFileButtonClick() {
        const input = document.querySelectorAll('[type="file"]')[0];
        input.click();
      },
      fileChange(e) {
        this.$emit('change-file', e);
      },
      throttle(f, t) {
        return function (args) {
          let previousCall = this.lastCall;
          this.lastCall = Date.now();
          if (previousCall === undefined
            || (this.lastCall - previousCall) > t) {
            f(args);
          }
        }
      },
      buttonContent() {
        if (screen.width > 680) {
          this.screenSize = true;
        }
      },
    },
    mounted() {
      this.buttonContent();
      window.addEventListener('resize', this.throttle(this.buttonContent, 1000));
    }
  };
</script>

<style lang="scss" scoped>
  .base-file-input {
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8c8c;
  }
  .base-file-input .base-button__content {
    span {
      @media only screen and (max-width: 680px) {
        display: none;
      }
    }
    svg {
      @media only screen and (min-width: 681px) {
        display: none;
      }
    }
  }
</style>
