<template>
  <v-tooltip content-class="tooltip__prompt" bottom>
    <template v-slot:activator="{ on, attrs }">
      <span v-bind="attrs" v-on="on" class="tooltip"><slot/></span>
    </template>
    <span>
      <slot/>
    </span>
  </v-tooltip>
</template>

<script>
  export default {
    name: 'base-tooltip',
    props: {

    }
  };
</script>

<style lang="scss" scoped>
  .tooltip{
    white-space: nowrap;
    font-size: 14px;
    color: #4c4b4b;
    font-family: "Source Sans Pro", sans-serif;
    &__prompt{
      white-space: normal;
      word-wrap: break-word;
      padding: 0 10px 1px;
      background-color: #707070;
      color: #fefefe;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      line-height: 27px;
      margin-top: 8px;
      max-width: 100%;
      @media only screen and (max-width: 414px) {
        left: 5%;
        right: 5%;
      }
    }
  }
</style>
