<template>
  <v-btn class="base-button"
         :height="height"
         color="#ef6c00"
         @click="clickEvent($event)"
         :outlined="outlined"
         :disabled="disabled"
         :dark="!disabled"
         :min-width="minWidth"
         :loading="loading"
         :to="to"
         depressed
  >
    <span class="base-button__content">
      <slot/>
    </span>
  </v-btn>
</template>

<script>
  export default {
    props: {
      outlined: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      height: {
        type: Number,
        default: 40,
      },
      minWidth: {
        type: Number,
        default: 290,
      },
      loading: Boolean,
      to: String,
    },
    methods: {
      clickEvent(e) {
        this.$emit('click',e)
      },
    },
  };
</script>

<style lang="scss" scoped>
  .base-button {
    text-transform: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    border-width: 2px;
    &__content {
      padding-bottom: 2px;
    }
  }
  .theme--light.v-btn.v-btn--disabled {
    color: #8d8c8c !important;
    background-color: #d7d7d7;
  }
</style>
