<template>
  <v-select
          class="base-select"
          :items="items"
          :label="label"
          :placeholder="placeholder"
          color="#b7b7b7"
          item-color="primary"
          append-icon="fa-sort-down"
          @change="changeValue($event)"
          :disabled="disabled"
          :rules="rules"
          outlined
  >
    <template v-slot:append>
      <svg class="base-select__icon" width="16px" height="9px" viewBox="0 0 16 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <title>caret-down</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="caret-down" fill="#000000" fill-rule="nonzero">
            <path d="M15.7,0.3 C15.5194393,0.105723309 15.2652077,-0.00323309512 15,4.4408921e-16 L1,4.4408921e-16 C0.734792279,-0.00323309512 0.48056067,0.105723309 0.3,0.3 C0.111585736,0.48463046 0.00375704786,0.736230733 -4.92092261e-16,1 C-0.00323309512,1.26520772 0.105723309,1.51943933 0.3,1.7 L7.3,8.7 C7.68884351,9.08114288 8.31115649,9.08114288 8.7,8.7 L15.7,1.7 C15.8942767,1.51943933 16.0032331,1.26520772 16,1 C15.996243,0.736230733 15.8884143,0.48463046 15.7,0.3 Z" id="Shape"></path>
          </g>
        </g>
      </svg>
    </template>
  </v-select>
</template>

<script>
  export default {
    props: {
      label: {
        type: String,
        default: 'Default label'
      },
      placeholder: {
        type: String,
        default: 'Default placeholder'
      },
      items: {
        type: Array,
        required: true,
      },
      rules: Array,
      disabled: Boolean,
    },
    methods: {
      changeValue(e) {
        this.$emit('change-value', e);
      },
    },
  };
</script>

<style lang="scss">
  .base-select {
    font-family: "Source Sans Pro", sans-serif;
    &__icon {
      margin-top: 6px;
    }
  }
  .v-list {
    padding: 0;
    &-item {
      font-family: 'Source Sans Pro', sans-serif;
      &:hover:before {
        background-color: #ef6c00;
        opacity: 0.2 !important;
        font-family: "Source Sans Pro", sans-serif;
      }
    }
  }
  .v-menu__content {
    box-shadow: 0 3px 8px rgba(1, 1, 1, 0.24);
  }
  .fa-sort-down {
    font-size: 26px;
    height: 20px;
    margin-top: -15px;
    color: #000000 !important;
  }
  .theme--light.v-select .v-select__selection--comma {
    color: #010000;
  }
</style>
