<template>
  <div class="navigation">
    <slot></slot>
  </div>
</template>

<script>
  import Link from './BaseLink'
  export default {
    name: 'Navigation',
    components: {
      Link,
    }
  };
</script>

<style lang="scss" scoped>
  .navigation{
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-around;
  }
</style>
