<template>
  <nuxt-link
          :to="to"
          class="link"
          active-class="link_active"
          @click="click($event)"
          exact>
    <slot></slot>
  </nuxt-link>
</template>

<script>
  export default {
    name: 'Link',
    props: {
      to: {
        type: String,
        default: '#',
      },
    },
    methods: {
      click(e) {
        this.$emit('click',e);
      }
    },
  };
</script>

<style lang="scss" scoped>
  .link{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1;
    transition-duration: 0.2s;
    color: #000000;
    @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
      &:hover {
        color: #ef6c00;
      }
    }
    &_oncolor{
      color: #ffffff;
      background-color: #283593;
      @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
        &:hover {
          color: #ef6c00;
        }
      }
    }
    &_bold{
      color: #ef6c00;
      font-size: 22px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 900;
      @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) {
        &:hover {
          color: #fc831f;
        }
      }
    }
    &_active {
      color: #283593;
      pointer-events: none;
      cursor: none;
    }
  }
</style>
