<template>
  <div>
    <v-text-field
            v-if="mask"
            ref="input"
            class="base-text-input"
            :value="value"
            :label="label"
            :placeholder="placeholder"
            @input="updateValue($event)"
            @change="updateValue($event)"
            color="#b7b7b7"
            :rules="rules"
            :error="error"
            :error-messages="errorMessage"
            :disabled="disabled"
            v-mask="mask"
            outlined
            light
    ></v-text-field>
    <v-text-field
            v-else
            ref="input"
            class="base-text-input"
            :label="label"
            :placeholder="placeholder"
            :value="value"
            @input="updateValue($event)"
            @change="updateValue($event)"
            color="#b7b7b7"
            :rules="rules"
            :error="error"
            :error-messages="errorMessage"
            :disabled="disabled"
            outlined
            light
    ></v-text-field>
  </div>

</template>

<script>
  import { mask } from "vue-the-mask";

  export default {
    props: {
      label: {
        type: String,
        default: 'Default label'
      },
      placeholder: {
        type: String,
        default: 'Default placeholder'
      },
      error: {
        type: Boolean,
      },
      errorMessage: {
        type: String,
      },
      mask: {
        type: String,
      },
      rules: Array,
      validatorFunction: Function,
      value: String,
      disabled: Boolean,
    },
    directives: {
      mask,
    },
    model: {
      prop: 'value',
      event: 'change',
    },
    methods: {
      updateValue(e) {
        this.$emit('change', e);
      }
    },
  };
</script>

<style lang="scss" scoped>
  .base-text-input {
    font-family: "Source Sans Pro", sans-serif;
    color: #010000;
  }
</style>
