<!--<template>-->
<!--    <h1 v-if="component==='h1'" class="example__heading example__heading-1" :style="'font-family: ' + font">-->
<!--      <slot></slot>-->
<!--    </h1>-->
<!--</template>-->

<script>
  export default {
    render(createElement) {
      const elem = this.component.split('');
      if (this.component.split('')[0].toLowerCase() === 'h') {
        return createElement(
          this.component.toLowerCase(), {
            class: `example example__${this.component}`,
          },
          this.$slots.default
        );
      }
      else
      if (this.component.split('')[0].toLowerCase() === 'p') {
        return createElement(
          elem[0].toLowerCase(), {
            class: `example example__${this.component.split('')[0].toLowerCase()} example__${this.component}`,
          },
          this.$slots.default
        );
      }
    },
    props: {
      component: {
        type: String,
        required: true,
      },
    },
  };
</script>

<style lang="scss">
  .example{
    color: inherit;
    letter-spacing: 0;
    margin-bottom: 0 !important;
    font-weight: 400;
    &__h{
      &1{
        font-family: 'Overpass', sans-serif;
        font-size: 50px;
        line-height: 60px;
        @media only screen and (max-width: 980px){
          font-size: 42px;
          line-height: 51px;
        }
        @media only screen and (max-width: 640px){
          font-size: 30px;
          line-height: 36px;
        }
      }
      &2{
        font-family: 'Overpass', sans-serif;
        font-size: 42px;
        line-height: 51px;
        @media only screen and (max-width: 640px){
          font-size: 26px;
          line-height: 31px;
        }
      }
      &3{
        font-family: 'Overpass', sans-serif;
        font-size: 26px;
        line-height: 31px;
        @media only screen and (max-width: 640px){
          font-size: 22px;
          line-height: 26px;
        }
      }
      &4{
        font-family: 'Overpass', sans-serif;
        font-size: 22px;
        line-height: 26px;
      }
      &5{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        @media only screen and (min-width: 768px){
          font-size: 18px;
          line-height: 21px;
        }
        @media only screen and (max-width: 768px){
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    &__p{
      font-family: 'Source Sans Pro', sans-serif;
      margin-bottom: 0;
      &1{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 0;
      }
      &2{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
      }
      &3{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
      }
    }
  }
</style>
