<template>
  <footer class="footer">
    <div class="base__container">
      <div class="footer__head">
        <base-link to="/">
          <svg class="footer__logo" xmlns="http://www.w3.org/2000/svg" width="135" height="20" viewBox="0 0 135 20">
            <defs>
              <style>
                .footer .cls-1 {
                  fill: #fff;
                }

                .footer .cls-1, .footer .cls-2, .footer .cls-3 {
                  fill-rule: evenodd;
                }

                .footer .cls-2 {
                  fill: #fff;
                }

                .footer .cls-3 {
                  fill: #1b4a8a;
                }
              </style>
            </defs>
            <path id="testtask" class="cls-1"
                  d="M73.25,25.818h3.37V24.182H68.007v1.636h3.37V35.847H73.25V25.818Zm14.818,8.41H83.459V30.565h4.319v-1.6H83.459V25.794h4.609V24.182H81.586V35.847h6.482v-1.62Zm12.02-2.92a2.924,2.924,0,0,0-.862-1.045,8.449,8.449,0,0,0-1.85-1,10.386,10.386,0,0,1-1.552-.758,1.936,1.936,0,0,1-.619-0.61,1.521,1.521,0,0,1-.188-0.778,1.334,1.334,0,0,1,.47-1.065,2.068,2.068,0,0,1,1.379-.4,7.054,7.054,0,0,1,2.728.654l0.6-1.556a7.92,7.92,0,0,0-3.276-.734,4.175,4.175,0,0,0-2.735.838,2.815,2.815,0,0,0-1.019,2.3,3.16,3.16,0,0,0,.643,1.995,5.3,5.3,0,0,0,2.21,1.476A7.278,7.278,0,0,1,98.019,31.7a1.462,1.462,0,0,1,.486,1.109,1.415,1.415,0,0,1-.529,1.157,2.578,2.578,0,0,1-1.642.431,6.944,6.944,0,0,1-1.642-.215,8.537,8.537,0,0,1-1.665-.59v1.8a7.163,7.163,0,0,0,3.182.614,4.75,4.75,0,0,0,3.049-.886,2.956,2.956,0,0,0,1.1-2.442A3.19,3.19,0,0,0,100.088,31.307Zm9.661-5.489h3.37V24.182h-8.614v1.636h3.371V35.847h1.873V25.818Zm12.294,0h3.37V24.182H116.8v1.636h3.37V35.847h1.873V25.818Zm17.436,10.029-4.287-11.713h-2.038l-4.287,11.713h1.975l1.121-3.239h4.381l1.144,3.239h1.991Zm-6.968-4.883,1.035-3.04a18.242,18.242,0,0,0,.619-2.146q0.078,0.319.286,1.005t0.325,1.005l1.074,3.175h-3.339Zm18.024,0.343a2.922,2.922,0,0,0-.862-1.045,8.461,8.461,0,0,0-1.85-1,10.385,10.385,0,0,1-1.552-.758,1.936,1.936,0,0,1-.619-0.61,1.525,1.525,0,0,1-.188-0.778,1.335,1.335,0,0,1,.47-1.065,2.069,2.069,0,0,1,1.38-.4,7.054,7.054,0,0,1,2.727.654l0.6-1.556a7.919,7.919,0,0,0-3.276-.734,4.175,4.175,0,0,0-2.736.838,2.815,2.815,0,0,0-1.019,2.3,3.163,3.163,0,0,0,.643,1.995,5.3,5.3,0,0,0,2.21,1.476,7.277,7.277,0,0,1,2.007,1.077,1.462,1.462,0,0,1,.486,1.109,1.417,1.417,0,0,1-.529,1.157,2.579,2.579,0,0,1-1.642.431,6.938,6.938,0,0,1-1.642-.215,8.551,8.551,0,0,1-1.666-.59v1.8a7.163,7.163,0,0,0,3.182.614,4.75,4.75,0,0,0,3.049-.886,2.956,2.956,0,0,0,1.1-2.442A3.19,3.19,0,0,0,150.535,31.307ZM160.564,29.3q1.3-1.524,4.3-5.114h-2.132l-3.1,3.726q-0.761.886-1.528,1.843V24.182h-1.873V35.847h1.873V31.483l1.105-.918,3.6,5.282h2.171Z"
                  transform="translate(-30 -20)"/>
            <path class="cls-2" d="M37,20L30,30l7,10H53l7-10L53,20H37Z" transform="translate(-30 -20)"/>
            <path class="cls-3" d="M50,36H48V26H46V24h6v2H50V36Zm-8,0H40V26H38V24h6v2H42V36Z"
                  transform="translate(-30 -20)"/>
          </svg>
        </base-link>
        <div class="footer__head-links">
          <base-link v-for="mainLink of this.$store.state.mainLinks"
                     class="footer__link link_oncolor"
                     :to="mainLink.to"
                     :key="mainLink.to">
            {{ $t(mainLink.text) }}
          </base-link>
        </div>
      </div>
      <div class="footer__main">
        <table class="footer__contact-list">
          <tbody>
          <tr class="contact__list-item">
            <td class="contact__icon">
              <i class="icon">
                <svg width="24px" height="18px" version="1.1" viewBox="0 0 24 18" xmlns="http://www.w3.org/2000/svg">
                  <title>mail</title>
                  <desc>Created with Sketch.</desc>
                  <g fill="none" fill-rule="evenodd">
                    <g fill="#fff" fill-rule="nonzero">
                      <path
                        d="m12 12l-3-2.6-8.46 7.28c0.3262 0.2951 0.75012 0.45897 1.19 0.46h20.54c0.43734 0.001329 0.85895-0.16303 1.18-0.46l-8.45-7.28-3 2.6z"/>
                      <path
                        d="m23.46 0.46c-0.3262-0.2951-0.75012-0.45897-1.19-0.46h-20.54c-0.43928-0.0016765-0.86217 0.16676-1.18 0.47l11.45 9.82 11.46-9.83z"/>
                      <polygon points="0 1.5 0 15.75 8.29 8.71"/>
                      <polygon points="15.71 8.71 24 15.75 24 1.5"/>
                    </g>
                  </g>
                </svg>
              </i>
            </td>
            <td class="contact__text">
              <a href="mailto:work.of.future@gmail.com" class="footer__contact-link">
                work.of.future@gmail.com
              </a>
            </td>
          </tr>
          <tr class="contact__list-item">
            <td class="contact__icon">
              <i class="icon">
                <svg width="20px" height="20px" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <title>phone</title>
                  <desc>Created with Sketch.</desc>
                  <g fill="none" fill-rule="evenodd">
                    <g transform="translate(-1 -1)" fill="#fff" fill-rule="nonzero">
                      <path
                        d="m5 9.67c1.6388 3.1336 4.1964 5.6912 7.33 7.33l2.45-2.44c0.26477-0.3365 0.73332-0.43359 1.11-0.23 1.2829 0.45937 2.6374 0.68625 4 0.67 0.30395-0.035762 0.60755 0.069633 0.82396 0.28604s0.3218 0.52 0.28604 0.82396v3.78c0.035762 0.30395-0.069633 0.60755-0.28604 0.82396s-0.52 0.3218-0.82396 0.28604c-5.0116 0.0053145-9.8194-1.9832-13.363-5.5269-3.5437-3.5437-5.5322-8.3515-5.5269-13.363-0.035762-0.30395 0.069633-0.60755 0.28604-0.82396s0.52-0.3218 0.82396-0.28604h3.89c0.30395-0.035762 0.60755 0.069633 0.82396 0.28604s0.3218 0.52 0.28604 0.82396c0.0030177 1.361 0.22936 2.7123 0.67 4 0.088712 0.38444 0.0086353 0.78846-0.22 1.11l-2.56 2.45z"/>
                    </g>
                  </g>
                </svg>
              </i>
            </td>
            <td class="contact__text">
              <a href="tel:+38(050)7892498 " class="footer__contact-link">
                +38 (050) 789 24 98
              </a>
            </td>
          </tr>
          <tr class="contact__list-item">
            <td class="contact__icon">
              <i class="icon">
                <svg width="16px" height="28px" version="1.1" viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
                  <title>cellphone</title>
                  <desc>Created with Sketch.</desc>
                  <g fill="none" fill-rule="evenodd">
                    <g transform="translate(-1 -1)" fill="#fff" fill-rule="nonzero">
                      <path
                        d="m14.54 28.12c0.65833 0.013869 1.2937-0.24224 1.7583-0.7088 0.46467-0.46656 0.7182-1.1029 0.70166-1.7612v-22.18c0.01654-0.65827-0.23699-1.2946-0.70166-1.7612-0.46467-0.46656-1.1-0.72267-1.7583-0.7088h-11.08c-0.65833-0.013869-1.2937 0.24224-1.7583 0.7088-0.46467 0.46656-0.7182 1.1029-0.70166 1.7612v22.18c-0.01654 0.65827 0.23699 1.2946 0.70166 1.7612 0.46467 0.46656 1.1 0.72267 1.7583 0.7088h11.08zm-5.54-1.03c-0.67931 0-1.23-0.55069-1.23-1.23s0.55069-1.23 1.23-1.23 1.23 0.55069 1.23 1.23-0.55069 1.23-1.23 1.23zm-3.08-24.59c-5.034e-5 -0.073375 0.029765-0.14361 0.082583-0.19454 0.052819-0.050932 0.12409-0.078174 0.19742-0.075457h5.6c0.15082-9.621e-5 0.27461 0.11928 0.28 0.27v0.08c5.03e-5 0.073375-0.029765 0.14361-0.082583 0.19454-0.052819 0.050932-0.12409 0.078174-0.19742 0.075457h-5.6c-0.15082 9.621e-5 -0.27461-0.11928-0.28-0.27v-0.08zm-3.69 1.58h13.54v19.69h-13.54v-19.69z"/>
                    </g>
                  </g>
                </svg>
              </i>
            </td>
            <td class="contact__text">
              <a href="tel:+38(095)5560845" class="footer__contact-link">
                +38 (095) 556 08 45
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="footer__nav-block">
          <div v-for="linksList of this.$store.state.footerLinksLists"
               :key="linksList[0].text"
               class="footer__nav-col nav-list">
            <ul>
              <li v-for="listLink of linksList"
                  :key="listLink.text">
                <base-link class="link_oncolor" :to="listLink.to">
                  {{ $t(listLink.text) }}
                </base-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__end">
        <div class="footer__copy">
          &copy; bohdan.korolev {{ $t('copy') }}
        </div>
        <div class="footer__lang">
          <v-btn class="footer__lang-btn pl-0 pr-0"
                 :class="{'lang-btn_active':(this.$i18n.locale == 'en')}"
                 max-height="26"
                 max-width="26"
                 min-width="26"
                 min-height="26"
                 @click.prevent="setLocale('en')"
                 depressed>
            en
          </v-btn>
          <v-btn class="footer__lang-btn pl-0 pr-0"
                 :class="{'lang-btn_active':(this.$i18n.locale == 'de')}"
                 max-height="26"
                 max-width="26"
                 min-width="26"
                 min-height="26"
                 @click.prevent="setLocale('de')"
                 depressed>
            de
          </v-btn>
        </div>
        <div class="footer__social">
          <base-icon-link v-for="socialLink of this.$store.state.socialLinks"
                          :key="socialLink"
                          class="social__icon"
                          :name="socialLink"
          />
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  import BaseLink from '~/components/BaseLink.vue';
  import BaseIconLink from '~/components/BaseIconLink.vue';

  export default {
    components: {
      BaseIconLink,
      BaseLink,
    },
    methods: {
      setLocale(locale) {
        this.$i18n.locale = locale
      },
    },
  };
</script>

<style lang="scss" scoped>
  .base {
    &__container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      @media only screen and (max-width: 1024px) {
        padding: 0 47px;
      }
      @media only screen and (max-width: 834px) {
        padding: 0 25px;
      }
      @media only screen and (max-width: 320px) {
        padding: 0 15px;
      }
    }
  }

  .footer {
    background-color: #283593;
    @media only screen and (max-width: 767px) {
      padding: 31px 0 40px;
    }

    * {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }
    }

    &__head {
      display: flex;
      justify-content: space-between;
      height: 85px;
      align-items: center;
      border-bottom: 1px solid #5f5fc4;
      @media only screen and (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        height: auto;
      }
    }

    &__head-links {
      @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        padding-top: 18px;
        padding-bottom: 22px;
      }

      a {
        margin-left: 25px;
        @media only screen and (max-width: 767px) {
          margin: 0 0 10px;
        }
      }
    }

    &__logo {
      width: 134px;
      height: 24px;
    }

    &__contact-list {
      padding-left: 0;
      @media only screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }

    &__main {
      padding: 22px 0 11px;
      margin-left: -7px;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        padding-top: 19px;
        padding-bottom: 11px;
      }
    }

    &__nav-block {
      display: flex;
      text-align: right;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    &__end {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 25px;
      @media only screen and (max-width: 960px) {
        padding-bottom: 28px;
      }
      @media only screen and (max-width: 767px) {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding-bottom: 0;
      }
    }

    &__copy {
      color: #ffffff;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 12px;
      line-height: 2;
      width: 33%;
      @media only screen and (max-width: 1024px) {
        line-height: 3.4;
      }
      @media only screen and (max-width: 960px) {
        line-height: 2;
      }
      @media only screen and (max-width: 767px) {
        width: auto;
        margin-bottom: 22px;
        order: 2;
      }
    }

    &__lang {
      width: 33%;
      text-align: center;
      @media only screen and (max-width: 767px) {
        margin: 0 auto;
        width: 124px;
        order: 1;
      }
    }

    &__lang-btn {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      font-weight: 700;
      background-color: #fff;
      color: #000000;
      text-transform: uppercase;
      margin: 0 5px;
    }

    &__social {
      width: 33%;
      text-align: right;
      margin-right: -8px;
      @media only screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 13px;
        order: 3;
      }
    }

    &__contact-link {
      text-decoration: none;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      line-height: 1;
      transition-duration: 0.2s;
      color: #000000;
      @media (hover), (min-width: 0 \0
      ), (min--moz-device-pixel-ratio: 0) {
        &:hover {
          color: #ef6c00;
        }
      }
    }
  }

  .footer a.link.link_oncolor.link_active {
    color: #ffffff;
  }

  .footer__lang-btn.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
    @media only screen and (min-width: 1025px) {
      opacity: 1;
      background-color: #ef6c00;
    }
    opacity: 0;
  }

  .social__icon {
    margin-left: 4px;
    @media only screen and (max-width: 1024px) {
      margin: 0;
    }
  }

  .contact {
    &__icon {
      vertical-align: middle;
      @media only screen and (max-width: 960px) {
        display: none;
      }
    }

    &__text {
      vertical-align: middle;

      & * {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        color: #ffffff;
        @media only screen and (max-width: 768px) {
          font-size: 18px;
          text-align: center;
        }
      }
    }

    &__list-item {
      height: 43px;
      @media only screen and (max-width: 767px) {
        height: 35px;
        text-align: center;
      }
    }
  }

  .nav-list {
    width: 195px;
    @media only screen and (max-width: 1024px) {
      width: 160px;
    }
    @media only screen and (max-width: 960px) {
      width: 124px;
    }

    & ul {
      list-style-type: none;
    }

    & li {
      font-size: 16px;
      line-height: 30px;
    }
  }

  .lang-btn {
    &_active {
      pointer-events: none;
      cursor: none;
      color: #ffffff;
    }
  }

  button.footer__lang-btn.pl-0.pr-0.v-btn.v-btn--depressed.theme--light.v-size--default.lang-btn_active {
    background-color: transparent;
  }
</style>
