<template>
  <div>
    <header class="header">
      <div class="header__container">
        <div class="header__content-block">
          <base-link to="/">
            <svg id="logo" class="header__logo" xmlns="http://www.w3.org/2000/svg" width="135" height="20"
                 viewBox="0 0 135 20">
              <defs>
                <style>
                  .cls-1 {
                    fill: #212529;
                  }

                  .cls-1, .cls-2, .cls-3 {
                    fill-rule: evenodd;
                  }

                  .cls-2 {
                    fill: #1b4a8a;
                  }

                  .cls-3 {
                    fill: #fff;
                  }
                </style>
              </defs>
              <path id="testtask" class="cls-1"
                    d="M73.25,25.818h3.37V24.182H68.007v1.636h3.37V35.847H73.25V25.818Zm14.818,8.41H83.459V30.565h4.319v-1.6H83.459V25.794h4.609V24.182H81.586V35.847h6.482v-1.62Zm12.02-2.92a2.924,2.924,0,0,0-.862-1.045,8.449,8.449,0,0,0-1.85-1,10.386,10.386,0,0,1-1.552-.758,1.936,1.936,0,0,1-.619-0.61,1.521,1.521,0,0,1-.188-0.778,1.334,1.334,0,0,1,.47-1.065,2.068,2.068,0,0,1,1.379-.4,7.054,7.054,0,0,1,2.728.654l0.6-1.556a7.92,7.92,0,0,0-3.276-.734,4.175,4.175,0,0,0-2.735.838,2.815,2.815,0,0,0-1.019,2.3,3.16,3.16,0,0,0,.643,1.995,5.3,5.3,0,0,0,2.21,1.476A7.278,7.278,0,0,1,98.019,31.7a1.462,1.462,0,0,1,.486,1.109,1.415,1.415,0,0,1-.529,1.157,2.578,2.578,0,0,1-1.642.431,6.944,6.944,0,0,1-1.642-.215,8.537,8.537,0,0,1-1.665-.59v1.8a7.163,7.163,0,0,0,3.182.614,4.75,4.75,0,0,0,3.049-.886,2.956,2.956,0,0,0,1.1-2.442A3.19,3.19,0,0,0,100.088,31.307Zm9.661-5.489h3.37V24.182h-8.614v1.636h3.371V35.847h1.873V25.818Zm12.294,0h3.37V24.182H116.8v1.636h3.37V35.847h1.873V25.818Zm17.436,10.029-4.287-11.713h-2.038l-4.287,11.713h1.975l1.121-3.239h4.381l1.144,3.239h1.991Zm-6.968-4.883,1.035-3.04a18.242,18.242,0,0,0,.619-2.146q0.078,0.319.286,1.005t0.325,1.005l1.074,3.175h-3.339Zm18.024,0.343a2.922,2.922,0,0,0-.862-1.045,8.461,8.461,0,0,0-1.85-1,10.385,10.385,0,0,1-1.552-.758,1.936,1.936,0,0,1-.619-0.61,1.525,1.525,0,0,1-.188-0.778,1.335,1.335,0,0,1,.47-1.065,2.069,2.069,0,0,1,1.38-.4,7.054,7.054,0,0,1,2.727.654l0.6-1.556a7.919,7.919,0,0,0-3.276-.734,4.175,4.175,0,0,0-2.736.838,2.815,2.815,0,0,0-1.019,2.3,3.163,3.163,0,0,0,.643,1.995,5.3,5.3,0,0,0,2.21,1.476,7.277,7.277,0,0,1,2.007,1.077,1.462,1.462,0,0,1,.486,1.109,1.417,1.417,0,0,1-.529,1.157,2.579,2.579,0,0,1-1.642.431,6.938,6.938,0,0,1-1.642-.215,8.551,8.551,0,0,1-1.666-.59v1.8a7.163,7.163,0,0,0,3.182.614,4.75,4.75,0,0,0,3.049-.886,2.956,2.956,0,0,0,1.1-2.442A3.19,3.19,0,0,0,150.535,31.307ZM160.564,29.3q1.3-1.524,4.3-5.114h-2.132l-3.1,3.726q-0.761.886-1.528,1.843V24.182h-1.873V35.847h1.873V31.483l1.105-.918,3.6,5.282h2.171Z"
                    transform="translate(-30 -20)"/>
              <path class="cls-2" d="M37,20L30,30l7,10H53l7-10L53,20H37Z" transform="translate(-30 -20)"/>
              <path class="cls-3" d="M50,36H48V26H46V24h6v2H50V36Zm-8,0H40V26H38V24h6v2H42V36Z"
                    transform="translate(-30 -20)"/>
            </svg>
          </base-link>
          <div class="header__links-box">
            <base-link
              v-for="link of this.$store.state.mainLinks"
              class="header__link"
              :to="link.to"
              :key="link.to">
              {{ $t(link.text) }}
            </base-link>
            <div class="header__user-info user-info">
              <div
                v-if="loading"
                class="header__placeholder-avatar">
              </div>
              <v-avatar
                v-else
                class="header__avatar"
                size="40">
                <img
                  class="header__avatar-img"
                  @error="this.errorHandler"
                  :src="this.user.photo"
                  alt="avatar">
              </v-avatar>
              <div class="user-info__text-block">
                <template>
                  <div
                    class="header__placeholder-name"
                    v-if="loading"/>
                  <div v-else class="user-info__name">
                    {{ this.user.name }}
                  </div>
                </template>
                <template>
                  <div
                    class="header__placeholder-email"
                    v-if="loading"/>
                  <div v-else class="user-info__email">
                    <p>{{ this.user.email }}</p>
                  </div>
                </template>
              </div>
            </div>
            <base-icon-link class="header__out-button" name="sign-out"></base-icon-link>
          </div>
          <base-icon-link
            class="header__nav-button"
            name="line-menu"
            @click.stop="drawer = !drawer">
          </base-icon-link>
        </div>
      </div>
    </header>

    <v-navigation-drawer
      class="aside"
      v-model="drawer"
      absolute
      temporary>
      <v-list-item class="mt-5">
        <v-list-item-avatar size="67">
          <v-img
            :src="this.user.photo"
            @error="this.errorHandler"/>
        </v-list-item-avatar>
      </v-list-item>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title
            style="
                    font-size: 20px;
                  ">
            {{ this.user.name }}
          </v-list-item-title>
          <v-list-item-subtitle
            class="pb-2 aside__subtitle"
            style="
                    color: #8d8c8c;
                    font-size: 13px;
                  ">
            {{ this.user.email }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list flat>
        <v-list-item
          v-for="link of this.$store.state.mainLinks"
          :key="link.to">
          <v-list-item-content>
            <v-list-item-title>
              <base-link :to="link.to">
                {{ $t(link.text) }}
              </base-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

  </div>
</template>

<script>
  import BaseIconLink from '~/components/BaseIconLink.vue';
  import BaseLink from '~/components/BaseLink.vue';
  import BaseTooltip from '~/components/BaseTooltip.vue';

  export default {
    components: {
      BaseIconLink,
      BaseLink,
      BaseTooltip,
    },
    data: () => ({
      drawer: null,
      blockBody: false,
      loading: true,
      user: {
        name: '',
        email: '',
        photo: '',
      },
    }),
    methods: {
      getUsersData() {
        this.loading = true;
        fetch('https://frontend-test-assignment-api.abz.agency/api/v1/users/1')
          .then(function (response) {
            return response.json();
          })
          .then((data) => {
            this.user.email = data.user.email;
            this.user.name = data.user.name;
            this.user.photo = data.user.photo;
          })
          .catch((error) => {
            console.log(`Oooops, you have some troubles with API connection!`, error.message);
          })
          .finally(() => {
            this.loading = false;
          });
      },
      errorHandler() {
        this.user.photo = '/assets/icons/cover-icon-user.svg'
      },
    },
    mounted() {
      this.getUsersData();
      window.addEventListener('scroll', function () {
        if (!this.blockBody) {
          let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          let scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
          window.scrollTo(scrollLeft, scrollTop);
        }
      });
    }
  };
</script>

<style lang="scss" scoped>
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;

    &__container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      @media only screen and (max-width: 1024px) {
        padding: 0 47px;
      }
      @media only screen and (max-width: 834px) {
        padding: 0 25px;
      }
      @media only screen and (max-width: 320px) {
        padding: 0 15px;
      }
    }

    &__content-block {
      height: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      width: 134px;
      height: 24px;
    }

    &__links-box {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 834px) {
        display: none;
      }
    }

    &__link {
      padding: 0 14px;
    }

    &__user-info {
      margin: 0 7px 0 35px;
    }

    &__avatar {
      max-width: 40px;
      max-height: 40px;
      width: 100%;
      height: 100%;
      background-color: #e2e2e2;
    }

    &__avatar-img {
      max-width: 100%;
      height: inherit;
      border-radius: initial;
      width: auto;
    }

    &__out-button {
      margin-right: -8px;
    }

    &__nav-button {
      display: none;
      @media only screen and (max-width: 834px) {
        display: contents;

      }
      @media only screen and (max-width: 320px) {
        width: 53px !important;
        height: 64px !important;
      }
    }

    &__placeholder-avatar {
      width: 40px;
      height: 40px;
      background-color: #e2e2e2;
      border-radius: 50%;
    }

    &__placeholder-name {
      width: 56px;
      height: 10px;
      border-radius: 2px;
      background-color: #e2e2e2;
      margin-bottom: 8px;
    }

    &__placeholder-email {
      width: 110px;
      height: 8px;
      border-radius: 2px;
      background-color: #e2e2e2;
    }
  }

  .user-info {
    display: flex;
    flex-direction: row-reverse;

    &__text-block {
      margin-right: 13px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }

    &__name {
      color: #000000;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
    }

    &__email {
      color: #8d8c8c;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 12px;

      & p {
        margin: 0;
      }
    }
  }

  .aside {
    font-family: "Source Sans Pro", sans-serif;
    position: fixed;

    &__subtitle {
      color: #8d8c8c;;
    }
  }
</style>
