<template>
  <div itemscope itemtype="http://scheme.org/Thing" class="user-card">
    <div class="user-card__avatar">
      <div
          v-if="loading"
          class="user-card__avatar-placeholder"
      />
      <v-avatar v-else size="70">
        <img
            itemprop="image"
            :src="this.src"
            @error="errorHandler"
            :alt="`${data.name} avatar`"
            class="user-card__img"
        ></v-avatar>
    </div>
    <div class="user-card__info">
      <div class="user-card__name">
        <div
            v-if="loading"
            class="user-card__name-placeholder"
        />
        <base-typography
            itemprop="name"
            v-else
            component="h4"
        >
          {{ data.name }}
        </base-typography>
      </div>
      <div class="user-card__position">
        <div
            v-if="loading"
            class="user-card__position-placeholder"
        />
        <span v-else>
          {{ data.position }}
        </span>
      </div>
      <div class="user-card__mail" ref="mailWrapper">
        <div
            v-if="loading"
            class="user-card__email-placeholder"/>
        <span
            v-else
            ref="mailContent"
        >
          <base-tooltip v-if="big">
            {{ data.email }}
          </base-tooltip>
          <span v-else>
            {{ data.email }}
          </span>
        </span>
      </div>
      <div class="user-card__phone">
        <div v-if="loading" class="user-card__phone-placeholder"/>
        <span v-else>{{ data.phone | phoneFormat}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseTooltip from './BaseTooltip.vue';
  import BaseTypography from './BaseTypography.vue';

  export default {
    components: {
      BaseTooltip,
      BaseTypography
    },
    props: {
      data: Object,
      loading: Boolean,
    },
    data: () => ({
      src: '',
      big: false,
    }),
    filters: {
      phoneFormat(value) {
        const phoneNumbers = value.replace(/\D/g, ''); // 380123456789
        const phoneFormatted = `+${phoneNumbers.slice(0, 2)} (${phoneNumbers.slice(2, 5)}) ${phoneNumbers.slice(5, 8)} ${phoneNumbers.slice(8, 10)} ${phoneNumbers.slice(10)}`;
        return phoneFormatted;
      },
    },
    methods: {
      errorHandler() {
        this.src = '/icons/cover-icon-user.svg'
      },
    },
    mounted() {
      if (this.data) {
        this.src = this.data.photo;
        if (this.$refs.mailWrapper.offsetWidth < this.$refs.mailContent.offsetWidth) {
          this.big = true;
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
  .user-card {
    display: flex;
    margin-bottom: 26px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
    @media only screen and (max-width: 768px) {
      margin-bottom: 5px;
    }

    & * {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__avatar {
      min-width: 70px;
      min-height: 70px;
      max-width: 70px;
      max-height: 70px;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: #e2e2e2;
      @media only screen and (max-width: 768px) {
        margin: 0 auto;
      }
    }

    &__img {
      max-width: 100%;
      height: inherit;
      border-radius: initial;
      width: initial;
    }

    &__info {
      margin-left: 10px;
      @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
    }

    &__name {
      font-family: "Source Sans Pro", sans-serif;
      padding: 22px 0 10px;
      letter-spacing: 0.3px;
      word-wrap: break-word;
      @media only screen and (max-width: 768px) {
        padding: 9px 0px 5px;
      }
    }

    &__position {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      line-height: 1.5;
      color: #4c4b4b;
    }

    &__mail {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      color: #4c4b4b;
      line-height: 1.5;
    }

    &__phone {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      color: #4c4b4b;
      line-height: 1.5;
      position: relative;
    }

    &__avatar-placeholder {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #e2e2e2;
      @media only screen and (max-width: 768px) {
        margin: 0 auto 8px;
      }
    }

    &__name-placeholder {
      width: 130px;
      height: 16px;
      border-radius: 2px;
      background-color: #e2e2e2;
      margin-top: 5px;
      margin-bottom: 10px;
      @media only screen and (max-width: 768px) {
        margin: 0 auto 8px;
      }
    }

    &__position-placeholder {
      width: 160px;
      height: 10px;
      border-radius: 2px;
      background-color: #e2e2e2;
      margin-bottom: 8px;
      @media only screen and (max-width: 768px) {
        margin: 0 auto 8px;
      }
    }

    &__email-placeholder {
      width: 180px;
      height: 10px;
      border-radius: 2px;
      background-color: #e2e2e2;
      margin-bottom: 8px;
      @media only screen and (max-width: 768px) {
        margin: 0 auto 8px;
      }
    }

    &__phone-placeholder {
      width: 180px;
      height: 10px;
      border-radius: 2px;
      background-color: #e2e2e2;
      margin-bottom: 8px;
      @media only screen and (max-width: 768px) {
        margin: 0 auto 8px;
      }
    }
  }

</style>
