<template>
  <div class="error-page">
    <div class="base__container base__content-block">
      <div class="base__heading error__header ">
        <base-typography component="h2">{{ $t('Page is not found') }}</base-typography>
      </div>
      <div class="error__attention base__attention">
        <base-typography
          component="p1"
          class="error__attention"
        >
          {{ $t('Definitely, something went wrong') }}
        </base-typography>
      </div>
      <v-row>
        <v-col cols="12" class="text-center">
          <svg class="error-svg" id="_404-image" data-name="404-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="395.719" height="365" viewBox="0 0 395.719 365">
            <defs>
              <linearGradient id="linear-gradient" x1="512" y1="594.656" x2="512" y2="256.656" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#76a8d9"/>
                <stop offset="1" stop-color="#4a71b2"/>
              </linearGradient>
              <linearGradient id="linear-gradient-2" x1="621.562" y1="479.927" x2="410.25" y2="450.229" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#29cbfc"/>
                <stop offset="1" stop-color="#23e1c5"/>
              </linearGradient>
              <linearGradient id="linear-gradient-3" x1="291.281" y1="296.5" x2="461.312" y2="296.5" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#2bcbfd"/>
                <stop offset="1" stop-color="#28e0c4"/>
              </linearGradient>
            </defs>
            <path class="cls-1" d="M647,260c-38.986-18.158-164.928,41.7-227,93s-102.936,88.3-73,150,148.677,100.3,207,90,104.04-40.607,123-128C697.432,370.823,685.986,278.158,647,260Z" transform="translate(-291.281 -229.656)"/>
            <path class="cls-2" d="M453.724,580.08A118.283,118.283,0,0,1,444,553s155.393-29.064,153-1c-0.98,11.492-4.679,22.623-8.706,31.767A186.45,186.45,0,0,1,554,593C528.123,597.571,490.354,592.509,453.724,580.08Z" transform="translate(-291.281 -229.656)"/>
            <path class="cls-3" d="M570.736,504.579c-47.147,4.041-54.655-1.895-54.655-1.895l-0.04-.425c-0.76.507-9.731,5.69-54.69,1.849-47.231-4.036-61.885-85.739-34.928-123s57.584-11.354,57.584-11.354l33.739,2.878,30.374-2.6s30.573-25.946,57.481,11.37S617.882,500.537,570.736,504.579Z" transform="translate(-291.281 -229.656)"/>
            <path class="cls-4" d="M439,552s6.029,15.185,11,18,16.318,3.9,43,2,45.56-6.092,65-4,31.341,8.138,35,4,8-19,8-19ZM597,420l-156,4-30.748-22.609A71.548,71.548,0,0,1,421,378c28.556-39.383,61-12,61-12l35.74,3.042,32.176-2.747s32.386-27.422,60.891,12.017a71.831,71.831,0,0,1,10.749,23.5Z" transform="translate(-291.281 -229.656)"/>
            <path class="cls-5" d="M496,400s-3.632,19.927,21,20,19-23,19-23Z" transform="translate(-291.281 -229.656)"/>
            <rect id="Rounded_Rectangle_2" data-name="Rounded Rectangle 2" class="cls-6" x="136.719" y="295.344" width="178" height="10" rx="4" ry="4"/>
            <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-7" x="135.719" y="180.344" width="182" height="122" rx="14" ry="14"/>
            <path class="cls-8" d="M595,532H441a14,14,0,0,1-14-14V424a13.952,13.952,0,0,1,4.163-9.956L604.817,527.975A13.951,13.951,0,0,1,595,532Z" transform="translate(-291.281 -229.656)"/>
            <circle class="cls-9" cx="226.219" cy="241.844" r="11.5"/>
            <path class="cls-10" d="M507.787,464.315a11.992,11.992,0,0,1,19.925,13.073Z" transform="translate(-291.281 -229.656)"/>
            <path class="cls-11" d="M627,549H615v4a10,10,0,0,1-10,10H413.472c-15.454-8.051-29.652-17.454-41.36-28H637v4A10,10,0,0,1,627,549Z" transform="translate(-291.281 -229.656)"/>
            <g>
              <path class="cls-5" d="M558,344s-11-59.07-44-59c-31.97.068-39.7,58.878-40,63s10.131,18.579,40,17S558,344,558,344Z" transform="translate(-291.281 -229.656)"/>
              <path class="cls-5" d="M475.234,325.116c4.38-.578,8.722,4.945,9.7,12.337s-1.784,13.853-6.165,14.431-8.722-4.945-9.7-12.337S470.853,325.694,475.234,325.116Z" transform="translate(-291.281 -229.656)"/>
              <path class="cls-5" d="M553.739,325.022c-4.313-.582-8.588,4.98-9.548,12.424s1.757,13.949,6.07,14.532,8.588-4.98,9.548-12.424S558.052,325.605,553.739,325.022Z" transform="translate(-291.281 -229.656)"/>
              <path class="cls-12" d="M559.138,352.636a6.993,6.993,0,0,1-.36,7.313,8,8,0,0,1-1.557,14.732,8.95,8.95,0,0,1-6.577,14.286,9.483,9.483,0,0,1-14.72,10.213,9.987,9.987,0,0,1-18.426,4.065,9.978,9.978,0,0,1-17.539-.993A9.475,9.475,0,0,1,485,394.5c0-.18.017-0.356,0.027-0.534-0.176.01-.348,0.034-0.527,0.034a9.494,9.494,0,0,1-8.7-13.313,8,8,0,0,1-2.285-14.313,7,7,0,0,1-1.319-9.29,6.893,6.893,0,0,1-1.506-8.057c-0.2-.525.143-1.188,1.308-2.027a11.116,11.116,0,0,0,3.251-4.386c-1.044-5.393,2.072-11,3.284-12.911,0.052-.4.1-0.787,0.142-1.149,0,0.289,0,.613,0,0.921,0.195-.3.32-0.475,0.32-0.475a7.756,7.756,0,0,0-.312,1.439,37.288,37.288,0,0,0,.635,6.082,17.622,17.622,0,0,0,1.978,6.11A14.434,14.434,0,0,0,489,350c8.333,3.307,10.809,1.605,15.39-.076,3.89-.791,8.114-1.88,12.034-1.913,0.705,0.007,1.389.024,2.044,0.054,3.528,0.224,6.59.941,9.518,1.274,6.073,1.3,9.413,2.555,15.014-1.339,6.293-4.375,8.65-12.213,9.106-18.832L552,328a20.673,20.673,0,0,1,4.977,12.048c0.123,0.124.23,0.265,0.36,0.382A6.968,6.968,0,0,1,559.138,352.636Z" transform="translate(-291.281 -229.656)"/>
              <path class="cls-12" d="M496.5,314A15.5,15.5,0,1,1,481,329.5,15.5,15.5,0,0,1,496.5,314Zm0,3A12.5,12.5,0,1,1,484,329.5,12.5,12.5,0,0,1,496.5,317Z" transform="translate(-291.281 -229.656)"/>
              <path class="cls-12" d="M531.5,314A15.5,15.5,0,1,1,516,329.5,15.5,15.5,0,0,1,531.5,314Zm0,3A12.5,12.5,0,1,1,519,329.5,12.5,12.5,0,0,1,531.5,317Z" transform="translate(-291.281 -229.656)"/>
              <path class="cls-13" d="M513,318l-5,27h14Z" transform="translate(-291.281 -229.656)"/>
              <path class="cls-12" d="M509,322h10v3h-9Z" transform="translate(-291.281 -229.656)"/>
              <circle class="cls-14" cx="206.219" cy="93.844" r="3.5"/>
              <circle class="cls-14" cx="238.219" cy="93.844" r="3.5"/>
              <path class="cls-13" d="M497,364c-1.843-1.529,5.874-5.121,10-8s8.774-5.008,15-2,10.71,5.032,12,6,0.5,3.169-2,2-10.764-6.831-16-7-14.591,7.984-16,9S498.843,365.529,497,364Z" transform="translate(-291.281 -229.656)"/>
            </g>
            <path class="cls-15" d="M292,266c6.644-14.916,16.78-6.126,30-18,11.841-10.636,10.717-19.013,27-18,13.623,0.848,23.146,18.109,40,6s35.84-5.322,38,7,9.283,16.865,20,22,5.158,32.137-6,40-11.316,16.668-10,23-6.483,21.7-30,15-20.26,10.54-42,9-13.382-26.62-36-25-34.177-14.754-26-27S287.542,276.008,292,266Zm158.192,72.566c-5.11-2.7-2.314-13.881-7.8-9.956s2.825,8.234-9.15,16.009-7.139,15.694,5.919,10.629S457.981,342.676,450.192,338.566Zm6.257,15.752c-5.4,2.382-8.462,11.953-.413,8.111S461.848,351.936,456.449,354.318Z" transform="translate(-291.281 -229.656)"/>
            <path id="_404" data-name="404" class="cls-16" d="M332.727,290.827l5.176-8.577q0.862-1.677,1.664-3.356t1.541-3.293h0.246q-0.124,1.863-.246,4.381t-0.123,4.443v6.4h-8.258Zm21.2,0h-4.5V267.77H338.335l-14.3,23.74v6.277h16.946v9.447h8.442v-9.447h4.5v-6.96ZM377.4,306.643a12.131,12.131,0,0,0,4.406-3.946,20.28,20.28,0,0,0,2.834-6.464,34.968,34.968,0,0,0,1.017-8.887,34.246,34.246,0,0,0-1.017-8.825,19.96,19.96,0,0,0-2.834-6.37A11.7,11.7,0,0,0,377.4,268.3a13.527,13.527,0,0,0-11.462,0,11.7,11.7,0,0,0-4.406,3.853,19.96,19.96,0,0,0-2.834,6.37,34.246,34.246,0,0,0-1.017,8.825,34.968,34.968,0,0,0,1.017,8.887,20.28,20.28,0,0,0,2.834,6.464,12.131,12.131,0,0,0,4.406,3.946A12.96,12.96,0,0,0,377.4,306.643Zm-7.826-6.339a4.794,4.794,0,0,1-1.725-2.144A15.914,15.914,0,0,1,366.681,294a41.986,41.986,0,0,1-.432-6.65,41.381,41.381,0,0,1,.432-6.618,14.43,14.43,0,0,1,1.171-4.04,4.62,4.62,0,0,1,1.725-2.02,4.179,4.179,0,0,1,2.1-.559,4.3,4.3,0,0,1,2.157.559,4.633,4.633,0,0,1,1.725,2.02,13.88,13.88,0,0,1,1.14,4.04,44.573,44.573,0,0,1,.4,6.618,45.225,45.225,0,0,1-.4,6.65,15.272,15.272,0,0,1-1.14,4.164,4.807,4.807,0,0,1-1.725,2.144,4.121,4.121,0,0,1-2.157.59A4.008,4.008,0,0,1,369.577,300.3Zm28.223-9.477,5.176-8.577q0.862-1.677,1.664-3.356t1.54-3.293h0.247q-0.125,1.863-.247,4.381t-0.123,4.443v6.4H397.8Zm21.2,0h-4.5V267.77H403.407l-14.3,23.74v6.277h16.946v9.447H414.5v-9.447H419v-6.96Z" transform="translate(-291.281 -229.656)"/>
          </svg>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
  import BaseTypography from "~/components/BaseTypography.vue";

  export default {
    head: () => ({
      title: 'Page not found'
    }),
    components: {
      BaseTypography,
    }
  }
</script>

<style lang="scss" scoped>
  .base {
    &__container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      @media only screen and (max-width: 1024px) {
        padding: 0 47px;
      }
      @media only screen and (max-width: 834px) {
        padding: 0 25px;
      }
      @media only screen and (max-width: 320px) {
        padding: 0 15px;
      }
    }

    &__content-block {
      padding-top: 60px;
      padding-bottom: 50px;
      @media only screen and (max-width: 640px) {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
      }
    }

    &__heading {
      text-align: center;
      margin-bottom: 20px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 14px;
      }
    }

    &__attention {
      text-align: center;
      margin-bottom: 15px;
      color: #000000;
    }
  }

  .error {
    &-page {
      background-color: #f6f6f6;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__attention {
      @media only screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &-svg {
      max-width:395.719px;
      max-height: 365px;
      width: inherit;
      height: initial;
    }
  }

  .cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-15, .cls-16, .cls-2, .cls-3, .cls-4, .cls-5, .cls-8 {
    fill-rule: evenodd;
  }

  .cls-1 {
    fill: url(#linear-gradient);
  }

  .cls-2 {
    fill: #191919;
  }

  .cls-3 {
    fill: #ffcb9c;
  }

  .cls-4 {
    fill: url(#linear-gradient-2);
  }

  .cls-5 {
    fill: #ffcb9b;
  }

  .cls-6 {
    fill: #afafaf;
  }

  .cls-7 {
    fill: #e8e8e8;
  }

  .cls-8 {
    fill: #d8d8d8;
  }

  .cls-16, .cls-9 {
    fill: #fff;
  }

  .cls-10 {
    fill: #f9f9f9;
  }

  .cls-11 {
    fill: #fbfbfb;
  }

  .cls-12, .cls-14 {
    fill: #151714;
  }

  .cls-13 {
    fill: #ff6253;
  }

  .cls-15 {
    fill: url(#linear-gradient-3);
  }
</style>
