<template>
  <main>
    <!--    Banner-->
    <div itemscope itemtype="https://schema.org/Thing" class="banner">
      <div class="banner__content base__container base__content-block">
        <v-row>
          <v-col class="col-12 col-sm-7 col-md-6 banner__content">
            <div class="banner__heading">
              <base-typography component="h1" itemprop="name" class="banner__heading-text">
                {{ $t('Test assignment') }}
              </base-typography>
            </div>
            <div class="banner__description">
              <base-typography component="p1" itemprop="description" class="banner__description-text">
                {{ $t('We kindly remind') }}
                <span class="banner__additional-text">
                  <br>
                  {{ $t('Please be patient') }}
                </span>
              </base-typography>
            </div>
            <base-button itemprop="url" to="/register" class="banner__button">
              {{ $t('buttons.signUp') }}
            </base-button>
          </v-col>
        </v-row>
      </div>
    </div>
    <!--    Banner end-->
    <!--    Acquainted-->
    <div itemscope itemtype="https://schema.org/Thing" class="acquainted" id="about" name="about">
      <div class="base__container base__content-block">
        <div class="base__heading">
          <base-typography component="h2" itemprop="name">
            {{ $t('Lets get acquainted') }}
          </base-typography>
        </div>
        <v-row class="acquainted__content">
          <v-col class="col-12 col-sm-4 acquainted__img">
            <svg itemprop="image" class="acquainted__img-svg" width="289px" height="285px" viewBox="0 0 289 285"
                 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
              <title>man-mobile</title>
              <desc>Created with Sketch.</desc>
              <defs>
                <linearGradient x1="-0.00014597453%" y1="49.9939627%" x2="100.000167%" y2="49.9939627%"
                                id="linearGradient-1">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.000204509968%" y1="49.9976725%" x2="99.9991484%" y2="49.9976725%"
                                id="linearGradient-2">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.407830343%" y1="49.7575431%" x2="99.646547%" y2="49.7575431%"
                                id="linearGradient-3">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.933706816%" y1="48.0225989%" x2="99.0974167%" y2="48.0225989%"
                                id="linearGradient-4">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.902583256%" y1="48.0225989%" x2="99.1285403%" y2="48.0225989%"
                                id="linearGradient-5">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-1.48541114%" y1="48.3050847%" x2="98.5676393%" y2="48.3050847%"
                                id="linearGradient-6">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="49.7575431%" y1="0.28548124%" x2="49.7575431%" y2="100.339859%"
                                id="linearGradient-7">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="46.8926554%" y1="0.746965453%" x2="46.8926554%" y2="100.778089%"
                                id="linearGradient-8">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="47.1751412%" y1="0.746965453%" x2="47.1751412%" y2="100.778089%"
                                id="linearGradient-9">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="47.1751412%" y1="0.715841892%" x2="47.1751412%" y2="100.746965%"
                                id="linearGradient-10">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="46.8926554%" y1="1.16710875%" x2="46.8926554%" y2="101.220159%"
                                id="linearGradient-11">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.261437908%" y1="49.2825827%" x2="99.7787833%" y2="49.2825827%"
                                id="linearGradient-12">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.621546961%" y1="41.5448852%" x2="99.4014733%" y2="41.5448852%"
                                id="linearGradient-13">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-1.40552995%" y1="45.9290188%" x2="98.7096774%" y2="45.9290188%"
                                id="linearGradient-14">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-1.42857143%" y1="46.3465553%" x2="98.6866359%" y2="46.3465553%"
                                id="linearGradient-15">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.667587477%" y1="41.5448852%" x2="99.3554328%" y2="41.5448852%"
                                id="linearGradient-16">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-1.09846999%" y1="41.7536534%" x2="98.9407611%" y2="41.7536534%"
                                id="linearGradient-17">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.0465829326%" y1="49.8249156%" x2="100.116713%" y2="49.8249156%"
                                id="linearGradient-18">
                  <stop stop-color="#FFFFFF" offset="0%"></stop>
                  <stop stop-color="#F7F7F8" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="man-mobile">
                  <path
                    d="M20.66,196.33 C20.66,196.33 -36.19,140.76 38.72,90.86 C113.63,40.96 194.45,18.41 241.56,24.31 C288.67,30.21 276.8,143.79 236.14,212.77 C195.48,281.75 97.68,278 20.66,196.33 Z"
                    id="_Path_" fill="url(#linearGradient-1)" fill-rule="nonzero"></path>
                  <path
                    d="M259.94,78.06 C259.94,78.06 325.33,123.31 259.94,185.06 C194.55,246.81 118.6,282.68 71.15,284.8 C23.7,286.92 16.3,173 44.75,98.13 C73.2,23.26 170.29,10.56 259.94,78.06 Z"
                    id="_Path_2" fill="url(#linearGradient-2)" fill-rule="nonzero"></path>
                  <g id="_Group_3" transform="translate(10.000000, 0.000000)">
                    <g id="_Group_4" transform="translate(10.000000, 12.000000)" fill-rule="nonzero">
                      <g id="_Group_5" transform="translate(0.000000, 62.000000)" fill="#C4C4C4">
                        <path
                          d="M4.05,17.19 C2.12090977,17.1844883 0.559992126,15.6190981 0.56,13.69 L0.56,4.34 C0.570865679,2.41541471 2.12545368,0.856372305 4.05,0.84 C5.97845265,0.85092634 7.53907366,2.41154735 7.55,4.34 L7.55,13.69 C7.54450717,15.6207168 5.98071684,17.1845072 4.05,17.19 Z"
                          id="_Path_3"></path>
                      </g>
                      <g id="_Group_6" transform="translate(0.000000, 44.000000)" fill="#C4C4C4">
                        <path
                          d="M4.05,16.58 C2.12318953,16.5690286 0.565458342,15.006834 0.56,13.08 L0.56,3.74 C0.565458342,1.81316602 2.12318953,0.250971424 4.05,0.24 C5.97845265,0.25092634 7.53907366,1.81154735 7.55,3.74 L7.55,13.09 C7.52828459,15.0122976 5.97235184,16.5637848 4.05,16.58 Z"
                          id="_Path_4"></path>
                      </g>
                      <g id="_Group_7" transform="translate(0.000000, 30.000000)" fill="#C4C4C4">
                        <path
                          d="M4.05,10.58 C2.12868878,10.5745418 0.570971213,9.02128765 0.56,7.1 L0.56,4 C0.570926002,2.0770701 2.1270701,0.520926002 4.05,0.51 C5.97458529,0.520865679 7.5336277,2.07545368 7.55,4 L7.55,7.1 C7.53357195,9.02290186 5.97296443,10.5745916 4.05,10.58 Z"
                          id="_Path_5"></path>
                      </g>
                      <g id="_Group_8" transform="translate(98.000000, 50.000000)" fill="#C4C4C4">
                        <path
                          d="M4.24,24.48 C2.31804907,24.48 0.76,22.9219509 0.76,21 L0.76,3.69 C0.759992104,1.76642472 2.31643262,0.205511677 4.24,0.2 C6.16519402,0.205492741 7.72450726,1.76480598 7.73,3.69 L7.73,21 C7.72448832,22.9235674 6.16357528,24.4800079 4.24,24.48 Z"
                          id="_Path_6"></path>
                      </g>
                      <g id="_Group_9" transform="translate(2.000000, 0.000000)">
                        <path
                          d="M20.46,1.74 L81.36,1.74 C92.1383121,1.74551744 100.874483,10.4816879 100.88,21.26 L100.88,187.39 C100.88,198.176121 92.1361212,206.92 81.35,206.92 L20.46,206.92 C9.67940168,206.92 0.94,198.180598 0.94,187.4 L0.94,21.26 C0.94,10.4794017 9.67940168,1.74 20.46,1.74 Z"
                          id="_Path_7" fill="#000000"></path>
                        <path
                          d="M85.61,207.83 L16.15,207.83 C7.23193553,207.807973 0.0109895881,200.578085 0,191.66 L0,17 C0.0165256651,8.06698386 7.25697535,0.831006345 16.19,0.82 L85.66,0.82 C94.571219,0.863925461 101.778132,8.08869955 101.8,17 L101.8,191.66 C101.777973,200.58911 94.5391306,207.81901 85.61,207.83 Z M16.19,2.64 C8.26994217,2.66199839 1.8564811,9.07992877 1.84,17 L1.84,191.66 C1.85652019,199.576813 8.27317736,205.988999 16.19,206 L85.66,206 C93.5706434,205.978026 99.9780259,199.570643 100,191.66 L100,17 C99.9889652,9.06043406 93.5495736,2.62999233 85.61,2.63 L16.19,2.63 L16.19,2.64 Z"
                          id="_Compound_Path_" fill="#9B9B9A"></path>
                      </g>
                      <g id="_Group_10" transform="translate(2.000000, 1.000000)" fill="#858585">
                        <g id="_Group_11">
                          <path
                            d="M85,3.17 C92.4629863,3.16999796 98.51448,9.21701572 98.52,16.68 L98.52,190 C98.5034574,197.455171 92.4551898,203.490018 85,203.49 L16.89,203.49 C9.43871399,203.484507 3.3965319,197.45127 3.38,190 L3.38,16.68 C3.38551503,9.22091863 9.43091863,3.17551503 16.89,3.17 L85,3.17 Z M85,0.74 L16.89,0.74 C12.6572566,0.724059912 8.59197693,2.39229067 5.59052448,5.37685995 C2.58907204,8.36142922 0.89793631,12.4172341 0.89,16.65 L0.89,190 C0.928540649,198.809207 8.08070868,205.930084 16.89,205.93 L85,205.93 C93.7838922,205.907959 100.894517,198.783918 100.9,190 L100.9,16.68 C100.905534,7.8899029 93.7900833,0.756552117 85,0.74 Z"
                            id="_Compound_Path_2"></path>
                        </g>
                      </g>
                      <g id="_Group_12" transform="translate(2.000000, 22.000000)" fill="#EBEBEB">
                        <rect id="_Path_8" x="0.01" y="0.52" width="3.32" height="2.18"></rect>
                      </g>
                      <g id="_Group_13" transform="translate(100.000000, 22.000000)" fill="#EBEBEB">
                        <rect id="_Path_9" x="0.42" y="0.52" width="3.38" height="2.18"></rect>
                      </g>
                      <g id="_Group_14" transform="translate(2.000000, 185.000000)" fill="#EBEBEB">
                        <rect id="_Path_10" x="0.01" y="0.82" width="3.4" height="2.18"></rect>
                      </g>
                      <g id="_Group_15" transform="translate(100.000000, 185.000000)" fill="#EBEBEB">
                        <rect id="_Path_11" x="0.37" y="0.82" width="3.4" height="2.18"></rect>
                      </g>
                      <path
                        d="M97.2,17.7 L97.2,17 C97.2180951,16.7678042 97.1803788,16.5346486 97.09,16.32 C97.0104446,16.0836869 96.9600711,15.8385359 96.94,15.59 C96.88,15.36 96.8,15.08 96.71,14.84 C96.6282706,14.5681529 96.5314538,14.3010721 96.42,14.04 C96.29,13.74 96.15,13.45 96.01,13.16 C95.8407849,12.8152411 95.6504219,12.481271 95.44,12.16 C95.1531075,11.758054 94.8460478,11.3708917 94.52,11 C92.9843892,9.29434201 90.9461932,8.12115363 88.7,7.65 C88.2427037,7.5501473 87.7776468,7.48992411 87.31,7.47 C87.0537149,7.45020729 86.7962851,7.45020729 86.54,7.47 L78.31,7.47 C78.1078253,7.47060887 77.916736,7.56247869 77.79,7.72 C77.6995418,7.83444622 77.6470989,7.97429403 77.64,8.12 L77.64,8.26 C77.6513512,8.45595797 77.6276464,8.65236933 77.57,8.84 C77.5,9.04 77.57,9.23 77.47,9.43 C77.4318608,9.60764878 77.3783253,9.78163923 77.31,9.95 C77.2768857,10.1360402 77.2053654,10.3131381 77.1,10.47 C77.019767,10.6320786 76.9295951,10.7890443 76.83,10.94 C76.739395,11.0992594 76.639211,11.252875 76.53,11.4 C76.42,11.54 76.29,11.68 76.17,11.82 C76.0422972,11.9596286 75.9016706,12.0868622 75.75,12.2 C75.6105345,12.3347729 75.4636383,12.4616378 75.31,12.58 C75.1311069,12.6967917 74.9439452,12.8003991 74.75,12.89 C74.5559893,12.9985976 74.3556282,13.0954388 74.15,13.18 C73.92,13.26 73.68,13.34 73.44,13.4 C73.1436142,13.4618324 72.8425533,13.4986287 72.54,13.51 L33.25,13.51 C32.6293958,13.4810263 32.0193394,13.3386798 31.45,13.09 C31.0959937,12.9347343 30.7605558,12.7401803 30.45,12.51 C29.8952237,12.1595789 29.4047596,11.71647 29,11.2 C28.8202671,10.8835244 28.6760585,10.5481556 28.57,10.2 C28.4677988,9.94822091 28.390757,9.68694855 28.34,9.42 C28.2854874,9.19276109 28.2454073,8.9623007 28.22,8.73 C28.22,8.53 28.22,8.33 28.22,8.13 C28.1938656,7.80172395 27.9193131,7.54896135 27.59,7.55 L18.5,7.55 C18.1925191,7.5316206 17.8842452,7.56888448 17.59,7.66 C17.3204796,7.69791195 17.0533696,7.75133395 16.79,7.82 L16.04,8.02 L15.37,8.27 L14.76,8.53 L14.16,8.81 L13.64,9.14 C13.4571414,9.23805026 13.2831531,9.35181187 13.12,9.48 L12.65,9.82 L12.2,10.21 L11.79,10.59 L11.4,11 C11.2666667,11.14 11.1466667,11.28 11.04,11.42 C10.91,11.56 10.81,11.71 10.7,11.85 C10.5853629,11.9941696 10.4785427,12.1443855 10.38,12.3 C10.29,12.45 10.19,12.62 10.09,12.77 C9.99532516,12.922101 9.90854364,13.0789753 9.83,13.24 C9.75,13.41 9.66,13.57 9.59,13.74 C9.50651931,13.902015 9.43304821,14.0689947 9.37,14.24 C9.37,14.41 9.23,14.59 9.18,14.76 L9.01,15.3 C8.98217412,15.4843655 8.93525522,15.6653384 8.87,15.84 C8.87,16.02 8.79,16.21 8.76,16.41 C8.72218306,16.6016309 8.69547187,16.795287 8.68,16.99 C8.68,17.2 8.68,17.38 8.68,17.59 L8.68,190.2 C8.67046282,190.468063 8.690585,190.736359 8.74,191 C8.75326841,191.284553 8.80026379,191.566525 8.88,191.84 C8.98237569,192.132837 9.059327,192.43395 9.11,192.74 C9.20018971,193.058703 9.30700255,193.372466 9.43,193.68 C9.56349297,194.020518 9.71367488,194.354256 9.88,194.68 C10.08,195.07 10.29,195.45 10.52,195.82 C10.8217583,196.305252 11.1558472,196.769636 11.52,197.21 C13.25803,199.224538 15.6263669,200.591971 18.24,201.09 C18.7812917,201.193308 19.3294262,201.256811 19.88,201.28 L86.18,201.28 C86.5744168,201.281605 86.9685392,201.258225 87.36,201.21 C87.6980391,201.185743 88.0329351,201.128811 88.36,201.04 L89.28,200.81 L90.1,200.5 L90.85,200.18 L91.54,199.82 C91.76,199.7 91.97,199.56 92.18,199.42 L92.78,199 C92.97,198.86 93.15,198.71 93.32,198.56 C93.49,198.41 93.67,198.25 93.83,198.09 L94.31,197.59 C94.46,197.42 94.61,197.25 94.75,197.07 L95.15,196.54 L95.52,195.99 C95.63,195.81 95.75,195.61 95.85,195.42 L96.14,194.82 C96.2410418,194.623099 96.3279284,194.419249 96.4,194.21 C96.4933333,194.003333 96.5733333,193.793333 96.64,193.58 C96.71,193.38 96.77,193.14 96.84,192.92 C96.9016257,192.699429 96.9516938,192.475792 96.99,192.25 C97.0412538,192.022564 97.0779946,191.792099 97.1,191.56 L97.1,190.08 L97.1,18.24 C97.1684041,18.0682941 97.2023818,17.8848144 97.2,17.7 Z"
                        id="_Path_12" fill="#FFFFFF"></path>
                    </g>
                    <g id="_Group_16" transform="translate(26.000000, 36.000000)" fill-rule="nonzero">
                      <g id="_Group_17">
                        <rect id="_Path_13" fill="url(#linearGradient-3)"
                              transform="translate(37.327079, 18.950370) rotate(-0.070000) translate(-37.327079, -18.950370) "
                              x="0.547079346" y="0.390369517" width="73.56" height="37.12" rx="3.42"></rect>
                        <g id="_Group_18" transform="translate(7.000000, 5.000000)">
                          <g id="_Group_19">
                            <rect id="_Rectangle_" fill="url(#linearGradient-4)"
                                  transform="translate(16.517563, 2.057257) rotate(-0.070000) translate(-16.517563, -2.057257) "
                                  x="0.452563284" y="0.287256593" width="32.13" height="3.54"></rect>
                            <rect id="_Rectangle_2" fill="url(#linearGradient-5)"
                                  transform="translate(16.524515, 7.747240) rotate(-0.070000) translate(-16.524515, -7.747240) "
                                  x="0.459514922" y="5.97724013" width="32.13" height="3.54"></rect>
                            <rect id="_Rectangle_3" fill="url(#linearGradient-5)"
                                  transform="translate(16.541479, 13.447211) rotate(-0.070000) translate(-16.541479, -13.447211) "
                                  x="0.476478769" y="11.6772114" width="32.13" height="3.54"></rect>
                            <rect id="_Rectangle_4" fill="url(#linearGradient-5)"
                                  transform="translate(16.548430, 19.137207) rotate(-0.070000) translate(-16.548430, -19.137207) "
                                  x="0.483430413" y="17.3672072" width="32.13" height="3.54"></rect>
                            <rect id="_Rectangle_5" fill="url(#linearGradient-6)"
                                  transform="translate(9.925387, 24.825291) rotate(-0.070000) translate(-9.925387, -24.825291) "
                                  x="0.500386999" y="23.0552908" width="18.85" height="3.54"></rect>
                          </g>
                        </g>
                        <g id="_Group_20" transform="translate(43.000000, 4.000000)" fill="#FADD74">
                          <path
                            d="M8.6,4.75 C8.60404674,6.49009195 7.55895499,8.06109445 5.95247967,8.7298047 C4.34600435,9.39851496 2.49485989,9.03309765 1.26299418,7.80409675 C0.0311284662,6.57509584 -0.338597843,4.72480719 0.326370267,3.11677928 C0.991338378,1.50875137 2.55990335,0.460004706 4.3,0.46 C5.44032302,0.454668188 6.53562648,0.904615348 7.34290358,1.71001506 C8.15018068,2.51541477 8.6026768,3.60966766 8.6,4.75 Z"
                            id="_Path_14"></path>
                        </g>
                        <path
                          d="M61.32,8.74 C61.3199743,11.1122153 59.3988481,13.0362876 57.0266357,13.0399484 C54.6544232,13.0436091 52.7273678,11.1254753 52.7200206,8.75327134 C52.7126735,6.38106744 54.6278104,4.45103356 57,4.44 C58.1438922,4.43467951 59.2427591,4.88536405 60.0534963,5.69234787 C60.8642336,6.49933169 61.3200124,7.5960954 61.32,8.74 Z"
                          id="_Path_15" fill="#E6332A"></path>
                        <g id="_Group_21" transform="translate(62.000000, 4.000000)" fill="#FADD74">
                          <path
                            d="M9.05,4.72 C9.05404674,6.46009195 8.00895499,8.03109445 6.40247967,8.6998047 C4.79600435,9.36851496 2.94485989,9.00309765 1.71299418,7.77409675 C0.481128466,6.54509584 0.111402157,4.69480719 0.776370267,3.08677928 C1.44133838,1.47875137 3.00990335,0.430004706 4.75,0.43 C7.11865618,0.435470264 9.03901484,2.35136298 9.05,4.72 Z"
                            id="_Path_16"></path>
                        </g>
                        <g id="_Group_22" transform="translate(43.000000, 15.000000)" fill="#34525C">
                          <path
                            d="M8.61,4.31 C8.60447678,6.68221188 6.67889203,8.60182812 4.30667443,8.59998705 C1.93445684,8.59814598 0.0118540237,6.67554316 0.01001295,4.30332557 C0.00817187637,1.93110797 1.92778812,0.00552321661 4.3,-1.41454909e-14 C5.44471456,-0.00534922119 6.54409067,0.447020806 7.35353493,1.25646507 C8.16297919,2.06590933 8.61534922,3.16528544 8.61,4.31 Z"
                            id="_Path_17"></path>
                        </g>
                        <g id="_Group_23" transform="translate(52.000000, 15.000000)" fill="#FADD74">
                          <path
                            d="M9.33,4.29 C9.32989723,6.65407192 7.41726991,8.57251405 5.05320919,8.57979318 C2.68914847,8.58707231 0.764743452,6.6804447 0.7500825,4.31641824 C0.735421549,1.95239178 2.63603084,0.0220426309 5,-6.96109294e-15 C6.14469346,-0.0106735975 7.24617596,0.436590881 8.05937908,1.24228172 C8.87258219,2.04797257 9.33004976,3.14525678 9.33,4.29 Z"
                            id="_Path_18"></path>
                        </g>
                        <path
                          d="M71.06,19.29 C71.0640442,21.031001 70.017868,22.6026348 68.4101633,23.2707565 C66.8024586,23.9388783 64.9505294,23.5716245 63.7194524,22.3405476 C62.4883755,21.1094706 62.1211217,19.2575414 62.7892435,17.6498367 C63.4573652,16.042132 65.028999,14.9959558 66.77,15 C69.1370204,15.0054983 71.0545017,16.9229796 71.06,19.29 Z"
                          id="_Path_19" fill="#FFFFFF"></path>
                        <g id="_Group_24" transform="translate(43.000000, 25.000000)" fill="#FADD74">
                          <path
                            d="M8.62,4.88 C8.62,7.24930158 6.69930158,9.17 4.33,9.17 C1.96069842,9.17 0.04,7.24930158 0.04,4.88 C0.04,2.51069842 1.96069842,0.59 4.33,0.59 C5.46594098,0.587336587 6.55612391,1.03740853 7.35935769,1.84064231 C8.16259147,2.64387609 8.61266341,3.73405902 8.61,4.87 L8.62,4.88 Z"
                            id="_Path_20"></path>
                        </g>
                        <g id="_Group_25" transform="translate(52.000000, 25.000000)" fill="#34525C">
                          <path
                            d="M9.35,4.87 C9.34999529,6.61009665 8.30124863,8.17866162 6.69322072,8.84362973 C5.08519281,9.50859784 3.23490416,9.13887153 2.00590325,7.90700582 C0.776902347,6.67514011 0.411485041,4.82399565 1.0801953,3.21752033 C1.74890555,1.61104501 3.31990805,0.565953264 5.06,0.57 C7.43091825,0.575513778 9.35000641,2.49907534 9.35,4.87 Z"
                            id="_Path_21"></path>
                        </g>
                        <path
                          d="M71.07,29.85 C71.0780887,31.5941183 70.0342176,33.1711876 68.4255688,33.8451782 C66.8169201,34.5191688 64.9606343,34.1572054 63.7230535,32.9282189 C62.4854727,31.6992324 62.1105824,29.845514 62.7733467,28.2322076 C63.4361109,26.6189012 65.0058677,25.5640655 66.75,25.56 C67.8929678,25.552007 68.9918689,26.0004568 69.8029001,26.8058558 C70.6139313,27.6112549 71.0700279,28.7070043 71.07,29.85 Z"
                          id="_Path_22" fill="#FFFFFF"></path>
                      </g>
                      <g id="_Group_26" transform="translate(0.000000, 43.000000)">
                        <rect id="_Path_23" fill="url(#linearGradient-7)"
                              transform="translate(37.339529, 18.839589) rotate(-89.930000) translate(-37.339529, -18.839589) "
                              x="18.7795287" y="-17.9404112" width="37.12" height="73.56" rx="3.42"></rect>
                        <g id="_Group_27" transform="translate(35.000000, 5.000000)">
                          <g id="_Group_28">
                            <rect id="_Rectangle_6" fill="url(#linearGradient-8)"
                                  transform="translate(16.151410, 1.925042) rotate(-89.930000) translate(-16.151410, -1.925042) "
                                  x="14.3814097" y="-14.1399578" width="3.54" height="32.13"></rect>
                            <rect id="_Rectangle_7" fill="url(#linearGradient-9)"
                                  transform="translate(16.141393, 7.621994) rotate(-89.930000) translate(-16.141393, -7.621994) "
                                  x="14.3713932" y="-8.44300616" width="3.54" height="32.13"></rect>
                            <rect id="_Rectangle_8" fill="url(#linearGradient-10)"
                                  transform="translate(16.141389, 13.298945) rotate(-89.930000) translate(-16.141389, -13.298945) "
                                  x="14.3713889" y="-2.76605451" width="3.54" height="32.13"></rect>
                            <rect id="_Rectangle_9" fill="url(#linearGradient-10)"
                                  transform="translate(16.121372, 18.995897) rotate(-89.930000) translate(-16.121372, -18.995897) "
                                  x="14.3513725" y="2.93089713" width="3.54" height="32.13"></rect>
                            <rect id="_Rectangle_10" fill="url(#linearGradient-11)"
                                  transform="translate(22.759468, 24.702866) rotate(-89.930000) translate(-22.759468, -24.702866) "
                                  x="20.9894683" y="15.2778659" width="3.54" height="18.85"></rect>
                          </g>
                        </g>
                        <g id="_Group_29" transform="translate(23.000000, 4.000000)" fill="#FADD74">
                          <path
                            d="M0.06,4.61 C0.0380130065,6.979151 1.9407288,8.91757025 4.30987916,8.9396259 C6.67902953,8.96168155 8.61750391,7.05902193 8.63962822,4.68987221 C8.66175252,2.32072248 6.75914908,0.382192961 4.39,0.36 C2.02288681,0.343325493 0.087466526,2.24298744 0.06,4.61 Z"
                            id="_Path_24"></path>
                        </g>
                        <path
                          d="M13.35,8.59 C13.3170994,10.9589639 15.2107703,12.9061019 17.579732,12.939157 C19.9486938,12.9722121 21.8959553,11.0786681 21.9291649,8.70970857 C21.9623744,6.340749 20.0689574,4.39336401 17.7,4.36 L17.64,4.36 C15.2939335,4.35977053 13.3828121,6.24416292 13.35,8.59 Z"
                          id="_Path_25" fill="#E6332A"></path>
                        <g id="_Group_30" transform="translate(3.000000, 4.000000)" fill="#FADD74">
                          <path
                            d="M0.62,4.53 C0.567606368,6.27270475 1.57270834,7.87455753 3.16466816,8.58549274 C4.75662797,9.29642796 6.62030807,8.97571191 7.88304254,7.7735195 C9.14577701,6.5713271 9.55760034,4.72563919 8.92567676,3.10069688 C8.29375317,1.47575457 6.74317557,0.393224481 5,0.36 L4.88,0.36 C2.56843758,0.375262014 0.684610115,2.21929031 0.62,4.53 Z"
                            id="_Path_26"></path>
                        </g>
                        <g id="_Group_31" transform="translate(23.000000, 14.000000)" fill="#34525C">
                          <path
                            d="M0.05,5.18 C0.0500064334,7.54799842 1.96867673,9.46815141 4.33667443,9.46998706 C6.70467214,9.47182271 8.6263171,7.55464669 8.62999483,5.18665113 C8.63367256,2.81865557 6.71799198,0.89551981 4.35,0.89 C3.21048962,0.887343791 2.11674056,1.33815175 1.31004538,2.14297089 C0.503350204,2.94779003 0.0499969042,4.04048653 0.05,5.18 Z"
                            id="_Path_27"></path>
                        </g>
                        <g id="_Group_32" transform="translate(13.000000, 14.000000)" fill="#FADD74">
                          <path
                            d="M0.33,5.17 C0.33,7.54482442 2.25517558,9.47 4.63,9.47 C7.00482442,9.47 8.93,7.54482442 8.93,5.17 C8.93,2.79517558 7.00482442,0.87 4.63,0.87 C2.26458647,0.864460525 0.341021113,2.77460566 0.33,5.14 L0.33,5.17 Z"
                            id="_Path_28"></path>
                        </g>
                        <path
                          d="M3.61,19.15 C3.61,21.5193016 5.53069842,23.44 7.9,23.44 C10.2693016,23.44 12.19,21.5193016 12.19,19.15 C12.19,16.7806984 10.2693016,14.86 7.9,14.86 C5.53069842,14.86 3.61,16.7806984 3.61,19.15 Z"
                          id="_Path_29" fill="#FFFFFF"></path>
                        <g id="_Group_33" transform="translate(23.000000, 25.000000)" fill="#FADD74">
                          <path
                            d="M8.20944332e-17,4.74 C-0.0080887052,6.4841183 1.03578244,8.06118761 2.64443117,8.73517821 C4.25307989,9.4091688 6.10936571,9.04720537 7.34694652,7.81821887 C8.58452733,6.58923238 8.95941761,4.73551399 8.29665333,3.12220758 C7.63388906,1.50890117 6.06413231,0.454065478 4.32,0.45 C1.94354085,0.444460602 0.0110212266,2.36355995 8.20944332e-17,4.74 Z"
                            id="_Path_30"></path>
                        </g>
                        <g id="_Group_34" transform="translate(13.000000, 25.000000)" fill="#34525C">
                          <circle id="_Path_31" cx="4.62" cy="4.74" r="4.29"></circle>
                        </g>
                        <path
                          d="M3.6,29.73 C3.60552322,32.096689 5.52663081,34.0118281 7.89332555,34.009987 C10.2600203,34.0081459 12.1781459,32.0900203 12.179987,29.7233255 C12.1818281,27.3566308 10.266689,25.4355232 7.9,25.43 C6.75875469,25.4273366 5.66348472,25.8795157 4.85650023,26.6865002 C4.04951573,27.4934847 3.59733664,28.5887547 3.6,29.73 Z"
                          id="_Path_32" fill="#FFFFFF"></path>
                      </g>
                    </g>
                    <g id="_Group_35">
                      <g id="_Group_36" transform="translate(33.000000, 147.000000)" fill="#FFCB9C" fill-rule="nonzero">
                        <g id="_Group_37" transform="translate(30.000000, 0.000000)">
                          <g id="_Group_38">
                            <path
                              d="M90.92,44.37 C84.92,8.06 69.81,0.44 69.81,0.44 L61.09,10.64 C61.3273295,11.3012336 61.4523882,11.9975065 61.46,12.7 C61.46,18.96 61.15,26.29 55.62,30.15 C57.8042301,33.1441812 59.181684,36.6498015 59.62,40.33 C60.47,47.6 58.23,55.61 47.56,61.17 C34.8,67.81 8.8,67.48 8.8,67.48 L0.09,76.79 C58.07,98.32 95.37,71.23 90.92,44.37 Z"
                              id="_Path_33"></path>
                          </g>
                        </g>
                        <g id="_Group_39" transform="translate(0.000000, 56.000000)">
                          <path
                            d="M28,8.7 C28,8.7 5.77,2.42 3.76,2.7 C1.75,2.98 2.04,5.55 5.9,6.42 C9.54111146,7.43698392 13.1175993,8.67255863 16.61,10.12 C16.61,10.12 2,7.35 0.94,8.24 C-0.12,9.13 0.19,11.02 2.86,11.24 C5.53,11.46 16.1,14.02 16.1,14.02 C12.2045798,13.8781524 8.30414845,13.9716559 4.42,14.3 C1.96,14.82 4.96,16.77 7.42,16.8 C9.88,16.83 17.92,18 17.92,18 C17.92,18 10.92,19.59 10.02,20.63 C9.12,21.67 10.02,22.29 11.15,22.25 C12.28,22.21 22,19.84 22,19.84 C22,19.84 31,22.84 36,19.23 C41,15.62 39.81,12.14 39,11.58 C38.19,11.02 25.64,1.52 23,0.79 C20.36,0.06 19.67,2.09 23.45,4.31 C27.23,6.53 29.23,8.07 28,8.7 Z"
                            id="_Path_34"></path>
                        </g>
                      </g>
                      <path
                        d="M229.4,203.35 C229.4,203.35 211.69,119 164.47,115.1 C117.25,111.2 100.06,207.41 126,267.92 C126,268 176.93,248.34 229.4,203.35 Z"
                        id="_Path_35" fill="#000000" fill-rule="nonzero"></path>
                      <g id="_Group_40" transform="translate(0.000000, 120.000000)" fill-rule="nonzero">
                        <rect id="_Path_36" fill="url(#linearGradient-12)"
                              transform="translate(52.706832, 54.579139) rotate(-48.540000) translate(-52.706832, -54.579139) "
                              x="2.98183231" y="29.4891389" width="99.45" height="50.18" rx="3.42"></rect>
                        <g id="_Group_41" transform="translate(36.000000, 12.000000)">
                          <g id="_Group_42">
                            <rect id="_Rectangle_11" fill="url(#linearGradient-13)"
                                  transform="translate(16.998626, 17.921553) rotate(-48.540000) translate(-16.998626, -17.921553) "
                                  x="-4.72137414" y="15.5265528" width="43.44" height="4.79"></rect>
                            <rect id="_Rectangle_12" fill="url(#linearGradient-14)"
                                  transform="translate(22.810461, 23.414570) rotate(-48.650000) translate(-22.810461, -23.414570) "
                                  x="1.11046057" y="21.0195704" width="43.4" height="4.79"></rect>
                            <rect id="_Rectangle_13" fill="url(#linearGradient-15)"
                                  transform="translate(28.580059, 28.498339) rotate(-48.650000) translate(-28.580059, -28.498339) "
                                  x="6.88005948" y="26.1033386" width="43.4" height="4.79"></rect>
                            <rect id="_Rectangle_14" fill="url(#linearGradient-16)"
                                  transform="translate(34.310634, 33.205967) rotate(-48.540000) translate(-34.310634, -33.205967) "
                                  x="12.5906343" y="30.8109673" width="43.44" height="4.79"></rect>
                            <rect id="_Rectangle_15" fill="url(#linearGradient-17)"
                                  transform="translate(46.016423, 31.581431) rotate(-48.540000) translate(-46.016423, -31.581431) "
                                  x="33.2714225" y="29.1864309" width="25.49" height="4.79"></rect>
                          </g>
                        </g>
                        <g id="_Group_43" transform="translate(27.000000, 49.000000)" fill="#FADD74">
                          <path
                            d="M2.61,10.93 C4.37152259,12.4855173 6.89663748,12.8266981 9.00780733,11.7944395 C11.1189772,10.762181 12.4004081,8.55978585 12.2545302,6.21429751 C12.1086522,3.86880918 10.564196,1.84217045 8.34138813,1.07946415 C6.11858022,0.316757858 3.65520156,0.968198644 2.1,2.73 C-0.0232405071,5.13530109 0.205079486,8.80632843 2.61,10.93 Z"
                            id="_Path_37"></path>
                        </g>
                        <path
                          d="M20.9,69.78 C22.6595742,71.3378403 25.1843505,71.6822435 27.2968825,70.6525949 C29.4094145,69.6229463 30.6936107,67.422049 30.5505776,65.0763062 C30.4075445,62.7305635 28.8654544,60.7020007 26.6434713,59.9366518 C24.4214882,59.1713029 21.9572616,59.8199136 20.4,61.58 C18.2798754,63.9845618 18.5034294,67.6508464 20.9,69.78 Z"
                          id="_Path_38" fill="#E6332A"></path>
                        <g id="_Group_44" transform="translate(10.000000, 69.000000)" fill="#FADD74">
                          <path
                            d="M2.22,10.63 C3.97957419,12.1878403 6.50435047,12.5322435 8.61688247,11.5025949 C10.7294145,10.4729463 12.0136107,8.27204903 11.8705776,5.92630624 C11.7275445,3.58056346 10.1854544,1.5520007 7.9634713,0.786651811 C5.74148824,0.0213029222 3.27726159,0.669913638 1.72,2.43 C-0.400124571,4.8345618 -0.176570629,8.50084645 2.22,10.63 Z"
                            id="_Path_39"></path>
                        </g>
                        <g id="_Group_45" transform="translate(38.000000, 59.000000)" fill="#34525C">
                          <path
                            d="M2.31,10.37 C4.70653907,12.4948103 8.37173527,12.2748653 10.4969753,9.87870736 C12.6222154,7.48254941 12.4029278,3.81731382 10.007151,1.69164406 C7.61137427,-0.434025705 3.94609941,-0.215395468 1.82,2.18 C0.795990055,3.32970173 0.272050099,4.83990371 0.363999321,6.37676927 C0.455948542,7.91363484 1.15621436,9.35059374 2.31,10.37 Z"
                            id="_Path_40"></path>
                        </g>
                        <g id="_Group_46" transform="translate(29.000000, 69.000000)" fill="#FADD74">
                          <path
                            d="M2.67,10.22 C5.0718481,12.3384679 8.73616288,12.1092629 10.8552995,9.70800473 C12.9744361,7.30674658 12.7462513,3.64236812 10.3455833,1.52256301 C7.94491532,-0.597242103 4.28047347,-0.370077676 2.16,2.03 C1.14095641,3.18341399 0.622137697,4.69456719 0.7177935,6.23068685 C0.813449304,7.76680652 1.51573519,9.20192023 2.67,10.22 Z"
                            id="_Path_41"></path>
                        </g>
                        <path
                          d="M22.91,89.07 C24.6707122,90.628372 27.197117,90.9718748 29.3099884,89.9401747 C31.4228599,88.9084747 32.7055925,86.7049974 32.5594573,84.3582389 C32.4133222,82.0114805 30.8671335,79.9841631 28.6425911,79.2225584 C26.4180486,78.4609537 23.9537767,79.1152312 22.4,80.88 C20.2835019,83.2839039 20.5116218,86.9472422 22.91,89.07 Z"
                          id="_Path_42" fill="#FFFFFF"></path>
                        <g id="_Group_47" transform="translate(49.000000, 68.000000)" fill="#FADD74">
                          <path
                            d="M2,10.83 C3.76266438,12.3860417 6.2894055,12.7263137 8.40090874,11.6919997 C10.512412,10.6576857 11.7923716,8.45271197 11.6433875,6.10621349 C11.4944035,3.75971501 9.94584969,1.73432943 7.72048793,0.975371956 C5.49512618,0.216414484 3.03171074,0.873521824 1.48,2.64 C0.459631235,3.79353998 -0.0591287289,5.30606215 0.0384568164,6.84303449 C0.136042362,8.38000683 0.841931774,9.81477348 2,10.83 Z"
                            id="_Path_43"></path>
                        </g>
                        <g id="_Group_48" transform="translate(40.000000, 78.000000)" fill="#34525C">
                          <path
                            d="M2.32,10.68 C4.08071217,12.238372 6.60711696,12.5818748 8.71998842,11.5501747 C10.8328599,10.5184747 12.1155925,8.31499738 11.9694573,5.96823892 C11.8233222,3.62148046 10.2771335,1.59416307 8.05259106,0.832558401 C5.82804862,0.0709537365 3.36377667,0.725231232 1.81,2.49 C0.790956414,3.64341399 0.272137697,5.15456719 0.3677935,6.69068685 C0.463449304,8.22680652 1.16573519,9.66192023 2.32,10.68 Z"
                            id="_Path_44"></path>
                        </g>
                        <path
                          d="M33.61,98.53 C35.3687577,100.090697 37.8948205,100.437427 40.0090549,99.4083424 C42.1232894,98.3792577 43.4087919,96.1772817 43.2655065,93.8302682 C43.1222212,91.4832548 41.5784024,89.454009 39.3546846,88.6897565 C37.1309668,87.925504 34.6658426,88.5769468 33.11,90.34 C32.0897407,91.4921372 31.5691955,93.0025193 31.6629736,94.5386036 C31.7567516,96.0746879 32.457164,97.5105304 33.61,98.53 Z"
                          id="_Path_45" fill="#FFFFFF"></path>
                      </g>
                      <g id="_Group_49" transform="translate(67.000000, 126.000000)" fill="#FFCB9C" fill-rule="nonzero">
                        <g id="_Group_50" transform="translate(14.000000, 33.000000)">
                          <g id="_Group_51">
                            <path
                              d="M103.11,8.77 C103.11,8.77 106.27,25.44 81.11,52.3 C62.53,72.18 18.33,59.12 0.11,0.06 L12.8,1.28 C12.8,1.28 28.39,22.12 41.42,28.18 C52.28,33.24 60.06,30.18 65.3,25.04 C70.0242032,20.3472676 72.407621,13.7910354 71.8,7.16 L103.11,8.77 Z"
                              id="_Path_46"></path>
                          </g>
                        </g>
                        <g id="_Group_52">
                          <path
                            d="M22.38,24 C22.38,24 13.83,2.6 12.38,1.13 C10.93,-0.34 9.07,1.51 10.72,5.13 C12.1484845,8.63374678 13.3542186,12.2242292 14.33,15.88 C14.33,15.88 7.67,2.67 6.33,2.33 C4.99,1.99 3.65,3.44 5.1,5.69 C6.55,7.94 10.93,17.92 10.93,17.92 C10.93,17.92 5.49,10.46 3.63,8.82 C1.77,7.18 1.99,10.75 3.5,12.75 C5.01,14.75 8.93,21.75 8.93,21.75 C8.93,21.75 3.44,17.21 1.99,17.07 C0.54,16.93 0.68,18.07 1.39,18.97 C2.1,19.87 9.95,26.12 9.95,26.12 C9.95,26.12 13.04,35.12 18.95,36.85 C24.86,38.58 26.89,35.56 26.85,34.56 C26.81,33.56 26.67,17.89 25.67,15.35 C24.67,12.81 22.61,13.5 23.17,17.85 C23.73,22.2 23.63,24.57 22.38,24 Z"
                            id="_Path_47"></path>
                        </g>
                      </g>
                      <g id="_Group_53" transform="translate(109.000000, 0.000000)">
                        <circle id="_Path_48" fill="#191919" fill-rule="nonzero" cx="42.99" cy="23.4" r="23.4"></circle>
                        <circle id="_Path_49" fill="#191919" fill-rule="nonzero" cx="30.96" cy="46.87"
                                r="14.66"></circle>
                        <circle id="_Path_50" fill="#191919" fill-rule="nonzero"
                                transform="translate(62.672542, 47.532505) rotate(-80.780000) translate(-62.672542, -47.532505) "
                                cx="62.6725416" cy="47.5325054" r="19.89"></circle>
                        <g id="_Group_54" transform="translate(0.000000, 30.000000)">
                          <g id="_Group_55">
                            <path
                              d="M6.83,47 C7.33,58.76 10.26,69.38 27.9,77.33 C27.9,77.33 36.96,86.42 34.31,98.91 C31.66,111.4 65.83,110.46 60.7,93.24 C55.57,76.02 64.07,56.13 70.25,44.83 C76.43,33.53 73.88,10 59.64,2.3 C54.08,-0.7 40.19,0.66 31.07,5.08 C15.75,12.65 6.11,29.93 6.83,47 Z"
                              id="_Path_51" fill="#FFCB9C" fill-rule="nonzero"></path>
                            <path
                              d="M66.73,34.7 C69.3708619,32.7175404 72.7457166,31.9870524 75.97,32.7 C81.09,34.09 81.97,52.7 69.97,56 C57.97,59.3 62.31,47.53 62.31,47.53 L66.73,34.7 Z"
                              id="_Path_52" fill="#FFCB9C" fill-rule="nonzero"></path>
                            <path
                              d="M6.2,45 C6.66049562,45.0664313 7.12478743,45.1031738 7.59,45.11 C8.53477632,45.1201603 9.4745387,44.9714209 10.37,44.67 C14.37,46.67 21.18,48.84 27.93,45.35 C38.38,39.9 47.63,39.11 52.51,41.49 C60.84,45.57 70.57,43.38 73.35,30.37 C73.35,30.37 74.53,40.67 68.15,46.06 C61.77,51.45 61.5,60 62.5,67 C63.5,74 68.5,82 62.08,90.83 C55.66,99.66 45.19,90.83 37.32,92.94 C29.45,95.05 12.12,97.27 8.5,82.94 C4.88,68.61 9.57,63.27 8.5,57.34 C7.59,52.38 5.59,49.37 6.2,45 Z"
                              id="_Path_53" fill="#191919" fill-rule="nonzero"></path>
                            <g id="_Group_56" transform="translate(15.000000, 49.000000)" fill="url(#linearGradient-18)"
                               fill-rule="nonzero">
                              <g id="_Group_57">
                                <path
                                  d="M15.86,3 C17.3164426,1.77144179 19.0224757,0.874068394 20.86,0.37 C23.31,-0.09 25.86,0.37 26.86,3.37 C27.86,6.37 25.29,9.18 21.94,11.71 C19.94,13.2 12.86,15.71 8.54,14.49 C4.22,13.27 1.88,12.13 0.54,9.58 C-0.8,7.03 0.84,3.94 2.83,2.79 C4.59125656,1.90897983 6.6753152,1.96145613 8.39,2.93 C10.6584044,4.3910779 13.5646134,4.41831145 15.86,3 Z"
                                  id="_Path_54"></path>
                              </g>
                            </g>
                            <path
                              d="M37.32,28.67 C37.32,30.67 38.18,32.37 39.24,32.37 C40.3,32.37 41.16,30.71 41.16,28.67 C41.16,26.63 40.3,24.97 39.24,24.97 C38.18,24.97 37.32,26.63 37.32,28.67 Z"
                              id="_Path_55" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M16.44,31.13 C16.44,33.13 17.3,34.84 18.36,34.84 C19.42,34.84 20.28,33.17 20.28,31.13 C20.28,29.09 19.42,27.43 18.36,27.43 C17.3,27.43 16.44,29 16.44,31.13 Z"
                              id="_Path_56" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M3.24,28.67 C3.24002744,33.4462886 6.11935236,37.7515058 10.5336229,39.575553 C14.9478935,41.3996003 20.0264069,40.3826893 23.3980141,36.9996141 C26.7696213,33.6165388 27.7692819,28.5346017 25.9302562,24.1265502 C24.0912305,19.7184988 19.7762612,16.8538092 15,16.87 C11.8696319,16.8673438 8.86671213,18.1097015 6.65320681,20.3232068 C4.43970148,22.5367121 3.19734377,25.5396319 3.2,28.67 L3.24,28.67 Z"
                              id="_Path_57" stroke="#1D1D1B" stroke-width="2"></path>
                            <polygon id="_Path_58" fill="#FF6252" fill-rule="nonzero"
                                     points="26.51 18.69 20.28 43.42 33.11 42.02"></polygon>
                            <circle id="_Path_59" stroke="#1D1D1B" stroke-width="2" cx="41.15" cy="26.78"
                                    r="11.8"></circle>
                            <path d="M23.89,20.88 L30.96,20.88" id="_Path_60" stroke="#1D1D1B" stroke-width="2"></path>
                            <path d="M52.49,23.58 L74.47,30.45" id="_Path_61" stroke="#1D1D1B" stroke-width="2"></path>
                            <path
                              d="M62.58,48.47 C62.5855206,51.6056697 65.1309825,54.1436748 68.2666549,54.1399961 C71.4023273,54.1363173 73.9418272,51.5923466 73.9399902,48.4566725 C73.9381533,45.3209985 71.3956746,42.7800049 68.26,42.78 C66.7518361,42.7799977 65.3055884,43.379797 64.2400938,44.4471675 C63.1745993,45.5145379 62.5773448,46.9618385 62.58,48.47 Z"
                              id="_Path_62" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M60.64,55.2 C60.64,57.9614237 62.8785763,60.2 65.64,60.2 C68.4014237,60.2 70.64,57.9614237 70.64,55.2 C70.64,52.4385763 68.4014237,50.2 65.64,50.2 C62.8785763,50.2 60.64,52.4385763 60.64,55.2 Z"
                              id="_Path_63" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M58.91,63.08 C58.9019111,65.7907916 60.5280927,68.2393483 63.0298303,69.2832666 C65.531568,70.3271849 68.4158418,69.7607388 70.3369592,67.8482105 C72.2580767,65.9356823 72.8374413,63.0539757 71.8047436,60.5475854 C70.7720459,58.0411952 68.3308006,56.404058 65.62,56.4 C63.8431617,56.3920201 62.1363603,57.0922794 60.8771214,58.3458884 C59.6178824,59.5994973 58.9099821,61.3031437 58.91,63.08 Z"
                              id="_Path_64" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M58.91,73.89 C58.8858008,76.6006576 60.4973564,79.058809 62.9927941,80.1176012 C65.4882318,81.1763935 68.3757877,80.6271756 70.30827,78.7261856 C72.2407522,76.8251957 72.8373359,73.9470526 71.8196842,71.4345567 C70.8020326,68.9220609 68.3706894,67.2703376 65.66,67.25 L65.6,67.25 C61.9246535,67.2498973 58.937469,70.2147561 58.91,73.89 Z"
                              id="_Path_65" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M55.88,85.78 C55.875954,88.4908034 57.5057889,90.9369339 60.0090843,91.9771181 C62.5123798,93.0173024 65.3958079,92.4465498 67.3140685,90.5311523 C69.2323291,88.6157548 69.8073879,85.7331824 68.7709438,83.2283361 C67.7344998,80.7234897 65.2908064,79.090003 62.58,79.09 C58.8835939,79.0899959 55.885517,82.083598 55.88,85.78 Z"
                              id="_Path_66" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M48.2,93.13 C48.195954,95.8408034 49.8257889,98.2869339 52.3290843,99.3271181 C54.8323798,100.367302 57.7158079,99.7965498 59.6340685,97.8811523 C61.5523291,95.9657548 62.1273879,93.0831824 61.0909438,90.5783361 C60.0544998,88.0734897 57.6108064,86.440003 54.9,86.44 C53.1239697,86.4373452 51.4197719,87.1410104 50.1629898,88.3959166 C48.9062078,89.6508228 48.199998,91.3539677 48.2,93.13 Z"
                              id="_Path_67" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M35.42,92.47 C35.4144956,96.1689972 38.4076827,99.1726053 42.1066767,99.1799569 C45.8056707,99.1873085 48.8107731,96.1956216 48.8199719,92.4966318 C48.8291706,88.7976419 45.8389848,85.7910459 42.14,85.78 C40.3613183,85.7746885 38.6535217,86.4768612 37.3929877,87.7317679 C36.1324536,88.9866745 35.4226468,90.6913123 35.42,92.47 Z"
                              id="_Path_68" fill="#191919" fill-rule="nonzero"></path>
                            <circle id="_Path_69" fill="#191919" fill-rule="nonzero" cx="29.52" cy="94.9"
                                    r="6.7"></circle>
                            <path
                              d="M10.19,91 C10.1844813,94.7003018 13.1796933,97.7044636 16.879995,97.7099851 C20.5802968,97.7155065 23.5844609,94.7202968 23.5899851,91.019995 C23.5955093,87.3196932 20.6003018,84.315527 16.9,84.31 C15.1230489,84.3073459 13.417823,85.0106925 12.1594535,86.2653113 C10.9010839,87.5199301 10.1926502,89.2230489 10.19,91 Z"
                              id="_Path_70" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M4,81.52 C4.00000302,84.2308064 5.63348973,86.6744998 8.13833605,87.7109438 C10.6431824,88.7473879 13.5257548,88.1723291 15.4411523,86.2540685 C17.3565498,84.3358079 17.9273024,81.4523798 16.8871181,78.9490843 C15.8469339,76.4457889 13.4008034,74.815954 10.69,74.82 C8.91396771,74.819998 7.21082281,75.5262078 5.95591659,76.7829898 C4.70101036,78.0397719 3.99734524,79.7439697 4,81.52 Z"
                              id="_Path_71" fill="#191919" fill-rule="nonzero"></path>
                            <circle id="_Path_72" fill="#191919" fill-rule="nonzero" cx="6.79" cy="69.72"
                                    r="6.7"></circle>
                            <path
                              d="M1,58.29 C1.00000302,61.0008064 2.63348973,63.4444998 5.13833605,64.4809438 C7.64318238,65.5173879 10.5257548,64.9423291 12.4411523,63.0240685 C14.3565498,61.1058079 14.9273024,58.2223798 13.8871181,55.7190843 C12.8469339,53.2157889 10.4008034,51.585954 7.69,51.59 C5.91835324,51.5873458 4.21821438,52.2885854 2.96359558,53.5394534 C1.70897678,54.7903215 1.00265018,56.4883532 1,58.26 L1,58.29 Z"
                              id="_Path_73" fill="#191919" fill-rule="nonzero"></path>
                            <path
                              d="M0.63,50.19 C0.426077522,52.8994422 1.87626488,55.4644225 4.30301018,56.686539 C6.72975548,57.9086555 9.65398455,57.5466449 11.7094484,55.7696447 C13.7649123,53.9926445 14.5458331,51.1514599 13.6873514,48.57354 C12.8288698,45.9956202 10.5004623,44.1898833 7.79,44 L7.31,44 C3.76231185,43.8815463 0.781640681,46.6435754 0.63,50.19 Z"
                              id="_Path_74" fill="#191919" fill-rule="nonzero"></path>
                          </g>
                        </g>
                        <path
                          d="M71.72,65.42 C71.72,65.42 75.32,37.51 50.16,38.64 C33.57,39.36 27.16,41.05 21.71,34.05 C16.26,27.05 20.57,3.49 43.34,3.38 C66.11,3.27 65.76,29.77 65.76,29.77 C65.76,29.77 87,38.3 73.47,62.63 L71.72,65.42 Z"
                          id="_Path_75" fill="#191919" fill-rule="nonzero"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </v-col>
          <v-col itemscope itemtype="https://schema.org/Thing" class="col-12 col-sm-8 acquainted__description">
            <div class="acquainted__description-header">
              <base-typography component="h3" itemprop="name">{{ $t('I am cool frontend developer') }}</base-typography>
            </div>
            <div class="acquainted__description-p">
              <base-typography component="p2" itemprop="description">
                {{ $t('When real users have') }}
                <br><br>
                {{ $t('Last week') }}
              </base-typography>
            </div>
            <div class="acquainted__description-link">
              <base-link itemprop="url" to="/register" class="link_bold">{{ $t('buttons.signUp') }}</base-link>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
    <!--    Acquainted end-->
    <!--    Relationships-->
    <div itemscope itemtype="https://schema.org/Thing" class="relationships" id="relationships" name="relationships">
      <div class="relationships__content base__container base__content-block">
        <div class="base__heading relationships__heading">
          <base-typography component="h2" itemprop="name">
            {{ $t('About my relationships') }}
          </base-typography>
        </div>
        <v-row class="justify-center relationships__row">
          <v-col itemscope itemtype="https://schema.org/Thing" class="col-12 col-sm-10 col-md-4 relation">
            <div class="relationships__img">
              <svg class="relationships__logo-img" width="100px" height="114px" viewBox="0 0 100 114" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                <title>html</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="html" fill-rule="nonzero">
                    <polygon id="Shape" fill="#E44D26"
                             points="100 0 90.89 102.06 49.94 113.41 9.1 102.07 0 0"></polygon>
                    <polygon id="Shape" fill="#F16529" points="50 104.73 83.09 95.56 90.88 8.35 50 8.35"></polygon>
                    <path
                      d="M32.29,33.38 L50,33.38 L50,20.87 L18.61,20.87 L18.91,24.22 L22,58.72 L50,58.72 L50,46.2 L33.43,46.2 L32.29,33.38 Z M35.11,65 L22.54,65 L24.3,84.64 L49.94,91.76 L50,91.76 L50,78.76 L36,75 L35.11,65 Z"
                      id="Shape" fill="#EBEBEB"></path>
                    <path
                      d="M50,58.72 L65.37,58.72 L63.92,75 L50,78.73 L50,91.73 L75.66,84.62 L75.85,82.5 L78.79,49.55 L79.1,46.18 L50,46.18 L50,58.72 Z M50,33.35 L80.2,33.35 L80.45,30.54 L81,24.22 L81.3,20.87 L50,20.87 L50,33.35 Z"
                      id="Shape" fill="#FFFFFF"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="relationships__description">
              <div class="relationships__title">
                <base-typography component="h3" itemprop="name">
                  {{ $t('Im in love with HTML') }}
                </base-typography>
              </div>
              <div class="relationships__text">
                <base-typography component="p2" itemprop="description">
                  {{ $t('Hypertext Markup Language') }}
                </base-typography>
              </div>
            </div>
          </v-col>
          <v-col itemscope itemtype="https://schema.org/Thing" class="col-12 col-sm-10 col-md-4 relation">
            <div class="relationships__img">
              <svg class="relationships__logo-img" width="100px" height="114px" viewBox="0 0 100 114" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                <title>css</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="css" fill-rule="nonzero">
                    <polygon id="Shape" fill="#264DE4"
                             points="49.94 113.41 9.1 102.07 0 0 100 0 90.89 102.06"></polygon>
                    <polygon id="Shape" fill="#2965F1" points="83.09 95.56 90.88 8.35 50 8.35 50 104.73"></polygon>
                    <path
                      d="M20.86,46.2 L22,58.72 L50,58.72 L50,46.2 L20.86,46.2 Z M18.61,20.87 L19.75,33.38 L50,33.38 L50,20.87 L18.61,20.87 Z M50,78.72 L36,75 L35.11,65 L22.54,65 L24.3,84.64 L49.94,91.76 L50,91.76 L50,78.72 Z"
                      id="Shape" fill="#EBEBEB"></path>
                    <polygon id="Shape" fill="#FFFFFF"
                             points="79.06 46.2 81.32 20.87 50 20.87 50 33.38 67.6 33.38 66.46 46.2 50 46.2 50 58.72 65.37 58.72 63.92 75 50 78.73 50 91.73 75.66 84.62 75.85 82.5 78.79 49.55 79.1 46.18"></polygon>
                  </g>
                </g>
              </svg>
            </div>
            <div class="relationships__description">
              <div class="relationships__title">
                <base-typography component="h3" itemprop="name">
                  {{ $t('CSS is my best friend') }}
                </base-typography>
              </div>
              <div class="relationships__text">
                <base-typography component="p2" itemprop="description">
                  {{ $t('Cascading Style Sheets') }}
                </base-typography>
              </div>
            </div>
          </v-col>
          <v-col itemscope itemtype="https://schema.org/Thing" class="col-12 col-sm-10 col-md-4 relation">
            <div class="relationships__img">
              <svg class="relationships__logo-img" width="100px" height="114px" viewBox="0 0 100 114" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                <title>javascript</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="javascript" fill-rule="nonzero">
                    <path
                      d="M9.28,102.18 L0,0 L100,0 L90.8,102.11 L49.92,113.65 L9.28,102.18 Z M83.28,96.61 L91,9.09 L50.08,9.09 L50.39,105.62 L83.28,96.61 Z M46.28,21.92 L36.31,21.92 L36.19,74.3 L16.89,69 L16.89,81 L46.22,88.91 L46.22,21.91 L46.28,21.92 Z"
                      id="path5113" fill="#D4B830"></path>
                    <path
                      d="M43,88 C41.71,87.61 35.36,85.89 28.88,84.14 L17.12,80.93 L17.12,75 C17.12,69.23 17.12,69.11 17.71,69.3 C18.02,69.42 22.31,70.59 27.22,71.96 L36.15,74.41 L36.23,48.28 L36.31,22.15 L46.06,22.15 L46.06,55.42 C46.06,81.83 45.98,88.65 45.71,88.65 C45.44,88.65 44.27,88.3 43,88 Z"
                      id="path5159" fill-opacity="0" fill="#EBEBEB" opacity="0.99"></path>
                    <path
                      d="M16.93,81 L16.93,69 C16.93,69 29.25,72.47 36.23,74.27 L36.31,22 L46.26,22 L46.26,89 L16.93,81 Z"
                      id="path5157" fill-opacity="0.92" fill="#EBEBEB" opacity="0.99"></path>
                    <path
                      d="M50.08,9.05 L91,9.05 L83.27,96.57 L50.08,105.57 L50.08,9.05 Z M81.16,81.9 L83.85,49.18 L64,51.4 L64,33.93 L85.22,33.85 L86,21.92 L54,22.07 L54.43,65.52 L73.77,62.21 L73.5,71.88 L54,77.07 L54.19,88.92 L81.14,81.92 L81.16,81.9 Z"
                      id="path5117" fill="#FDD83C"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="relationships__description">
              <div class="relationships__title">
                <base-typography component="h3" itemprop="name">
                  {{ $t('JavaScript is my passion') }}
                </base-typography>
              </div>
              <div class="relationships__text">
                <base-typography component="p2" itemprop="description">
                  {{ $t('JavaScript is a high-level') }}
                </base-typography>
              </div>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
    <!--    Relationships end-->
    <!--    Users section-->
    <div itemscope itemtype="https://schema.org/Thing" v-if="usersSectionShow" class="users" id="users" name="users">
      <div class="base__container base__content-block">
        <div class="base__heading users__header ">
          <base-typography component="h2" itemprop="name">{{ $t('Our cheerful users') }}</base-typography>
        </div>
        <div class="users__attention base__attention">
          <base-typography component="p1" itemprop="description" class="user__attention">{{ $t('Attention!') }}
          </base-typography>
        </div>
        <v-row v-if="receivingData" class="users__list">
          <v-col v-for="num in 6" :key="num" class="users__list-item user-card col-12 col-sm-4">
            <user-card loading></user-card>
          </v-col>
        </v-row>
        <v-row v-else class="users__list">
          <v-col v-for="user in users" :key="user.id" class="users__list-item user-card col-12 col-sm-4">
            <user-card :data="user"></user-card>
          </v-col>
        </v-row>
        <div class="users__button text-center">
          <base-button
            @click="getUsersByDevice"
            :disabled="allUsersUploaded"
            :loading="loading"
            :outlined="!allUsersUploaded">
            {{ $t('buttons.showMore') }}
          </base-button>
        </div>
      </div>
    </div>
    <!--    Users section end-->
  </main>
</template>

<script>
  import BaseTypography from '~/components/BaseTypography.vue';
  import BaseButton from '~/components/BaseButton.vue';
  import BaseLink from '~/components/BaseLink.vue';
  import UserCard from '~/components/UserCard.vue';

  export default {
    head: () => ({
      title: 'Task #3',
    }),
    components: {
      BaseTypography,
      BaseButton,
      BaseLink,
      UserCard,
    },
    data: () => ({
      users: [],
      usersSectionShow: true,
      totalUsers: 0,
      allUsersUploaded: false,
      loading: false,
      receivingData: true,
      link: 'https://frontend-test-assignment-api.abz.agency/api/v1/users?page=1&count=3'
    }),
    methods: {
      getUsersDataPortrait() {
        this.loading = true;
        fetch(this.link)
          .then(function (response) {
            return response.json();
          })
          .then((data) => {
            this.link = data.links['next_url'];
            this.totalUsers = data['total_users'];
            data.users.forEach(user => this.users.push(user));
            this.users.sort((a, b) => a['registration_timestamp'] > b['registration_timestamp'] ? -1 : 1);
            this.loading = false;
            this.receivingData = false;
            if (this.users.length === this.totalUsers) {
              this.allUsersUploaded = true;
            }
          });
      },
      getUsersDataLandscape() {
        this.loading = true;
        let incomingUsers = [];
        let currentUsersArr = [];
        fetch(this.link)
          .then(function (response) {
            return response.json();
          })
          .then((data) => {
            this.link = data.links['next_url'];
            this.totalUsers = data['total_users'];
            data.users.forEach(user => incomingUsers.push(user));
            currentUsersArr = this.users.concat(incomingUsers);
            if (currentUsersArr.length === data['total_users']) {

              incomingUsers.forEach(user => this.users.push(user));
              this.users.sort((a, b) => a['registration_timestamp'] > b['registration_timestamp'] ? -1 : 1);
              this.allUsersUploaded = true;
              this.loading = false;

            } else {
              fetch(this.link)
                .then(function (response) {
                  return response.json();
                })
                .then((data) => {
                  this.link = data.links['next_url'];
                  this.totalUsers = data['total_users'];
                  data.users.forEach(user => incomingUsers.push(user));
                  incomingUsers.forEach(user => this.users.push(user));
                  this.users.sort((a, b) => a['registration_timestamp'] > b['registration_timestamp'] ? -1 : 1);
                  this.loading = false;
                  this.receivingData = false;

                  if (this.users.length === data['total_users']) {
                    this.allUsersUploaded = true;
                  }
                });
            }
          })
      },
      getUsersByDevice() {
        if (window.orientation == 90 || window.orientation == -90) {
          this.getUsersDataLandscape();
        } else if (screen.width <= 640) {
          this.getUsersDataPortrait();
        } else {
          this.getUsersDataLandscape();
        }
      },
    },
    mounted() {
      this.getUsersByDevice();
    },
  };
</script>

<style lang="scss" scoped>

  .base {
    &__container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      @media only screen and (max-width: 1024px) {
        padding: 0 47px;
      }
      @media only screen and (max-width: 834px) {
        padding: 0 25px;
      }
      @media only screen and (max-width: 320px) {
        padding: 0 15px;
      }
    }

    &__content-block {
      padding-top: 131px;
      padding-bottom: 129px;
      @media only screen and (max-width: 1024px) {
        padding-top: 130px;
        padding-bottom: 128px;
      }
      @media only screen and (max-width: 768px) {
        padding-top: 91px;
        padding-bottom: 81px;
      }
      @media only screen and (max-width: 640px) {
        text-align: center;
        padding-top: 64px;
        padding-bottom: 41px;
      }
    }

    &__heading {
      text-align: center;
      margin-bottom: 32px;
      letter-spacing: 0.5px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 10px;
      }
    }

    &__attention {
      text-align: center;
      margin-bottom: 43px;
      color: #000000;
      @media only screen and (max-width: 768px) {
        margin-bottom: 25px;
      }
      @media only screen and (max-width: 640px) {
        margin: 0 60px 20px;
      }
    }
  }

  .banner {
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-image: url('/img/bg-1-xlDesktop.jpg');

    @media only screen and (max-width: 1024px) {
      background-image: url('/img/bg-1-desktop.jpg');
      height: 725px;
    }
    @media only screen and (max-width: 768px) {
      background-image: url('/img/bg-1-tablet.jpg');
      height: 622px;
    }
    @media only screen and (max-width: 640px) {
      background-image: url('/img/bg-1-mobile.jpg');
      height: 393px;
    }
    // Retina background image configurations
    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {

      background-image: url('/img/bg-1-xlDesktop-retina.jpg');

      @media only screen and (max-width: 1024px) {
        background-image: url('/img/bg-1-desktop-retina.jpg');
        height: 725px;
      }
      @media only screen and (max-width: 768px) {
        background-image: url('/img/bg-1-tablet-retina.jpg');
        height: 622px;
      }
      @media only screen and (max-width: 640px) {
        background-image: url('/img/bg-1-mobile-retina.jpg');
        height: 393px;
      }
    }

    &__content {
      padding-top: 64px;
      @media only screen and (max-width: 768px) {
        padding-top: 54px;
      }
      @media only screen and (max-width: 640px) {
        text-align: center;
        padding-top: 31px;
      }
    }

    &__heading {
      margin-bottom: 24px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 9px;
      }

      &-text {

      }
    }

    &__description {
      margin-bottom: 33px;
      @media only screen and (max-width: 1024px) {
        margin-bottom: 40px;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 32px;
      }
      @media only screen and (max-width: 640px) {
        margin-bottom: 38px;
      }

      &-text {
        font-size: 20px;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
          line-height: 24px;
        }
        @media only screen and (max-width: 320px) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &__additional-text {
      @media only screen and (max-width: 640px) {
        display: none;
      }

      & br {
        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
  }

  .acquainted {
    &__content {

    }

    &__img {
      display: flex;
      margin-top: 6px;
      @media only screen and (max-width: 1024px) {
        margin-top: -15px;
      }

      &-svg {
        margin: 0 auto;
        @media only screen and (max-width: 768px) {
          width: 219px;
          height: 216px;
          margin: 20px 0 0;
        }
        @media only screen and (max-width: 640px) {
          margin-top: 22px;
          margin-bottom: 2px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &__description {
      @media only screen and (max-width: 640px) {
        padding-left: 11px;
        padding-right: 11px;
      }

      &-header {
        margin-bottom: 9px;
        @media only screen and (max-width: 768px) {
          margin-bottom: 14px;
        }
        @media only screen and (max-width: 640px) {
          padding: 0 5px;
        }
      }

      &-p {
        margin-bottom: 16px;
        @media only screen and (max-width: 1024px) {
          margin-bottom: 24px;
        }
        @media only screen and (max-width: 768px) {
          margin-bottom: 22px;
        }
        @media only screen and (max-width: 640px) {
          margin-bottom: 17px;
        }
      }

      &-link {

      }
    }
  }

  .relationships {
    background-color: #f6f6f6;

    &__heading {
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
    }

    &__content {
      @media only screen and (max-width: 768px) {
        padding-bottom: 62px;
      }
      @media only screen and (max-width: 640px) {
        padding-bottom: 46px;
      }
    }

    &__row {
      padding-top: 4px;
      @media only screen and (max-width: 768px) {
        padding-top: 0px;
        margin-bottom: -7px;
      }
      @media only screen and (max-width: 640px) {
        padding-top: 0px;
        margin-bottom: 0px;
      }
    }

    &__img {
      margin-bottom: 22px;
      @media only screen and (max-width: 1024px) {
        margin-bottom: 19px;
      }
      @media only screen and (max-width: 960px) {
        margin: 6px 37px 0 0;
      }
      @media only screen and (max-width: 640px) {
        margin: 11px 0px 9px 0;
      }
    }

    &__logo-img {
      width: 98px;
      height: 111px;
      @media only screen and (max-width: 920px) {
        width: 88px;
        height: 100px;
      }
    }

    &__description {

    }

    &__title {
      margin-bottom: 10px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 4.3px;
      }
    }

    &__text {
      @media only screen and (min-width: 768px) {
        margin-bottom: -5px;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 3px;
      }
    }
  }

  .relation {
    @media only screen and (max-width: 960px) {
      display: flex;
      margin-bottom: 21px;
      margin-top: -3px;
    }
    @media only screen and (max-width: 640px) {
      flex-direction: column;
      margin-bottom: -3px;

    }
  }

  .users {
    &__header {
      margin-bottom: 15px;
    }

    &__attention p {
      @media only screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__list {
      margin-bottom: 8px;
      @media only screen and (max-width: 1024px) {
        margin-bottom: 35px;
      }

      &-item {
        padding-bottom: 12px;
        @media only screen and (max-width: 1920px) {
          padding-bottom: 36px;
        }
        @media only screen and (max-width: 1024px) {
          padding-bottom: 12px;
        }
      }
    }

    &__button {
      margin-bottom: 11px;
      @media only screen and (min-width: 1024px) {
        margin-bottom: 12px;
        margin-top: -23px;
      }
      @media only screen and (min-width: 768px) {
        margin-bottom: 19px;
      }
    }
  }
</style>
