<template>
  <main>
    <!--    Requirements-->
    <div itemscope itemtype="https://schema.org/Thing" class="requirements">
      <div class="base__container base__content-block requirements__container">
        <div class="base__heading requirements__heading">
          <base-typography component="h1" itemprop="name">
            {{ $t('General requirements for the test task') }}
          </base-typography>
        </div>
        <v-row class="requirements__content">
          <v-col class="col-12 col-sm-6 requirements__description">
            <div class="requirements__description-p">
              <base-typography component="p2" itemprop="description">
                {{ $t('Users want to find') }}
                <br><br>
                {{ $t("If you're a developer") }}
                <br><br>
                {{ $t('Are you shipping too much') }}
              </base-typography>
            </div>
          </v-col>
          <v-col class="col-12 col-sm-6 requirements__img">
            <svg class="requirements__img-svg-v1" width="429px" height="362px" viewBox="0 0 429 362" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
              <title>man-laptop-v1</title>
              <desc>Created with Sketch.</desc>
              <defs>
                <linearGradient x1="49.9996918%" y1="99.9979689%" x2="49.9996918%" y2="0.00240706678%"
                                id="linearGradient-1">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="1.37163792e-14%" y1="49.9877232%" x2="100%" y2="49.9877232%" id="linearGradient-2">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="0%" y1="-2838.69509%" x2="100%" y2="-2838.69509%" id="linearGradient-3">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="0%" y1="50.0397675%" x2="99.9881503%" y2="50.0397675%" id="linearGradient-4">
                  <stop stop-color="#FFFFFF" offset="0%"></stop>
                  <stop stop-color="#F7F7F8" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="0%" y1="-2231.98087%" x2="100%" y2="-2231.98087%" id="linearGradient-5">
                  <stop stop-color="#FFFFFF" offset="0%"></stop>
                  <stop stop-color="#F7F7F8" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.00110556171%" y1="241.326809%" x2="99.9860863%" y2="241.326809%"
                                id="linearGradient-6">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.00940329686%" y1="570.503162%" x2="99.9963569%" y2="570.503162%"
                                id="linearGradient-7">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="0.353973066%" y1="775.603996%" x2="100.501238%" y2="775.603996%"
                                id="linearGradient-8">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="man-laptop-v1">
                  <path
                    d="M117.16,302.28 C117.16,302.28 29.23,241.43 117.16,158.38 C205.09,75.33 307.24,27 371.07,24.19 C434.9,21.38 444.84,174.55 406.53,275.28 C368.22,376.01 237.73,393 117.16,302.28 Z"
                    id="_Path_" fill="url(#linearGradient-1)"></path>
                  <path
                    d="M312.8,202.22 C312.8,202.22 354.03,252.44 302.9,284.91 L294.9,268.46 C294.9,268.46 312.55,250.08 299.47,227.66 L312.8,202.22 Z"
                    id="_Path_2" fill="#FFCB9C"></path>
                  <path
                    d="M130.15,202.22 C130.15,202.22 88.92,252.44 140.05,284.91 L148.05,268.46 C148.05,268.46 130.4,250.08 143.48,227.66 L130.15,202.22 Z"
                    id="_Path_3" fill="#FFCB9C"></path>
                  <path
                    d="M322.29,212.84 C301.29,171.05 262.1,164.84 262.1,164.84 L262.1,165.1 L249.6,162 C223.215092,156.380396 195.850215,157.369737 169.94,164.88 C169.94,164.88 131.6,175.11 115.08,218.88 L139.08,231.98 C137.08,252.76 137.59,278.74 142.82,310.98 C155.15,307.06 169.12,312.24 181.95,313.05 C197.19,314.05 210.84,312.43 225.85,314.65 C253.12,318.65 280.95,316.88 308.43,319.01 C308.81,294.46 307.7,259.91 300.92,227.6 L322.29,212.84 Z"
                    id="_Path_4" fill="url(#linearGradient-2)"></path>
                  <g id="_Group_2" transform="translate(179.000000, 53.000000)">
                    <path
                      d="M88.88,56.91 C88.28,71.14 84.73,84.01 63.38,93.6 C63.38,93.6 52.38,104.6 55.62,119.73 C58.86,134.86 17.52,133.73 23.69,112.81 C29.86,91.89 19.62,67.89 12.12,54.23 C4.62,40.57 7.74,12 25,2.78 C31.77,-0.86 48.63,0.78 59.63,6.24 C78.13,15.32 89.75,36.29 88.88,56.91 Z"
                      id="_Path_5" fill="#FFCB9C"></path>
                    <path
                      d="M16.38,42 C13.1854395,39.5912325 9.09440155,38.7064861 5.19,39.58 C-0.99,41.19 -2.06,63.82 12.41,67.77 C26.88,71.72 21.7,57.52 21.7,57.52 L16.38,42 Z"
                      id="_Path_6" fill="#FFCB9C"></path>
                    <path
                      d="M89.63,54.49 C89.0534287,54.5697638 88.4720624,54.609858 87.89,54.61 C86.7507248,54.6221538 85.6177508,54.4395251 84.54,54.07 C79.7,56.49 71.46,59.14 63.29,54.9 C50.65,48.32 39.44,47.35 33.54,50.23 C23.37,55.23 11.74,52.51 8.29,36.84 C8.29,36.84 6.87,49.31 14.58,55.84 C22.29,62.37 22.58,72.69 21.5,81.22 C20.42,89.75 14.28,99.22 22.04,110 C29.8,120.78 42.47,110 52.04,112.57 C61.61,115.14 82.53,117.76 86.91,100.44 C91.29,83.12 85.63,76.64 86.91,69.44 C88,63.4 90.39,59.75 89.63,54.49 Z"
                      id="_Path_7" fill="#191919"></path>
                    <g id="_Group_3" transform="translate(46.000000, 59.000000)">
                      <g id="_Group_4" fill="#CE3E3E">
                        <path
                          d="M13.79,4 C12.0220791,2.51892294 9.95486144,1.43755659 7.73,0.83 C4.79,0.28 1.73,0.83 0.46,4.47 C-0.81,8.11 2.36,11.47 6.41,14.57 C8.8,16.3 17.41,19.47 22.64,18.03 C27.87,16.59 30.69,15.16 32.34,12.09 C33.99,9.02 31.97,5.16 29.57,3.85 C27.4467888,2.80736431 24.9475162,2.87087348 22.88,4.02 C20.1092914,5.80003743 16.5528488,5.79221248 13.79,4 Z"
                          id="_Path_8"></path>
                      </g>
                      <g id="_Group_5" transform="translate(2.000000, 10.000000)" fill="#FF7D7D">
                        <path
                          d="M0.4,0.9 C3.47120047,-0.0863029462 6.78175956,-0.033587037 9.82,1.05 C13.7241961,2.17156094 17.0515355,4.74398789 19.12,8.24 C14.8710405,8.52765221 10.6192273,7.7220455 6.77,5.9 C4.26967846,4.77941798 2.08242678,3.06257993 0.4,0.9 Z"
                          id="_Path_9"></path>
                      </g>
                    </g>
                    <path
                      d="M52,34.69 C52,37.17 51,39.18 49.68,39.18 C48.36,39.18 47.36,37.18 47.36,34.69 C47.36,32.2 48.36,30.23 49.68,30.23 C51,30.23 52,32.22 52,34.69 Z"
                      id="_Path_10" fill="#191919"></path>
                    <path
                      d="M77.28,37.59 C77.28,40.06 76.28,42.07 74.96,42.07 C73.64,42.07 72.64,40.07 72.64,37.59 C72.64,35.11 73.64,33.12 74.96,33.12 C76.28,33.12 77.28,35.13 77.28,37.59 Z"
                      id="_Path_11" fill="#191919"></path>
                    <circle id="_Path_12" stroke="#1D1D1B" stroke-width="2"
                            transform="translate(78.906087, 34.722280) rotate(-7.000000) translate(-78.906087, -34.722280) "
                            cx="78.9060874" cy="34.7222799" r="14.27"></circle>
                    <polygon id="_Path_13" fill="#FF6252" points="65.06 22.62 72.6 52.56 57.07 50.85"></polygon>
                    <path
                      d="M61.7,32.41 C61.7,40.2911034 55.3111034,46.68 47.43,46.68 C39.5488966,46.68 33.16,40.2911034 33.16,32.41 C33.16,24.5288966 39.5488966,18.14 47.43,18.14 C51.2146393,18.14 54.8442696,19.6434421 57.5204138,22.3195862 C60.1965579,24.9957304 61.7,28.6253607 61.7,32.41 Z"
                      id="_Path_14" stroke="#1D1D1B" stroke-width="2"></path>
                    <path d="M68.22,25.26 L59.67,25.26" id="_Path_15" stroke="#1D1D1B" stroke-width="2"></path>
                    <path d="M33.61,28.55 L7.01,36.84" id="_Path_16" stroke="#1D1D1B" stroke-width="2"></path>
                    <path
                      d="M21.4,58.64 C21.4040459,61.4438298 19.7181733,63.9738267 17.1289326,65.0496106 C14.539692,66.1253944 11.5573367,65.5349639 9.57329658,63.5537868 C7.58925647,61.5726097 6.99451994,58.5911101 8.06656369,56.0003187 C9.13860745,53.4095273 11.6661673,51.7200029 14.47,51.72 C18.2934315,51.719996 21.3944828,54.8165725 21.4,58.64 Z"
                      id="_Path_17" fill="#191919"></path>
                    <path
                      d="M23.76,66.81 C23.76,70.1237085 21.0737085,72.81 17.76,72.81 C14.4462915,72.81 11.76,70.1237085 11.76,66.81 C11.76,63.4962915 14.4462915,60.81 17.76,60.81 C21.0737085,60.81 23.76,63.4962915 23.76,66.81 Z"
                      id="_Path_18" fill="#191919"></path>
                    <path
                      d="M25.85,76.29 C25.8499975,79.5710983 23.8729757,82.5289292 20.8412485,83.783615 C17.8095213,85.0383007 14.3204825,84.3426087 12.0018274,82.021091 C9.68317225,79.6995734 8.99178559,76.2096788 10.2502109,73.179502 C11.5086362,70.1493252 14.4689042,68.1759543 17.75,68.18 C19.8999873,68.1799984 21.9617709,69.0347613 23.4811034,70.5559695 C25.0004358,72.0771777 25.8526543,74.1400143 25.85,76.29 Z"
                      id="_Path_19" fill="#191919"></path>
                    <path
                      d="M25.85,89.41 C25.8540444,92.6920053 23.8795902,95.6529052 20.8481848,96.9107432 C17.8167794,98.1685812 14.3261001,97.4753598 12.0053702,95.1546298 C9.68464019,92.8338999 8.99141878,89.3432206 10.2492568,86.3118152 C11.5070948,83.2804098 14.4679947,81.3059556 17.75,81.31 C22.2212222,81.3155098 25.8444902,84.9387778 25.85,89.41 Z"
                      id="_Path_20" fill="#191919"></path>
                    <path
                      d="M29.5,103.82 C29.5055076,108.292197 25.8855198,111.922611 21.4133251,111.929964 C16.9411303,111.937318 13.3092231,108.318829 13.3000233,103.846638 C13.2908235,99.3744465 16.9078129,95.7410459 21.38,95.73 C23.5246807,95.7246897 25.5834852,96.5722555 27.1028191,98.0859622 C28.622153,99.599669 29.4773523,101.655314 29.48,103.8 L29.5,103.82 Z"
                      id="_Path_21" fill="#191919"></path>
                    <path
                      d="M38.8,112.72 C38.8,117.193506 35.1735065,120.82 30.7,120.82 C26.2264935,120.82 22.6,117.193506 22.6,112.72 C22.6,108.246494 26.2264935,104.62 30.7,104.62 C32.8490673,104.617342 34.9108788,105.469879 36.4305,106.9895 C37.9501213,108.509121 38.8026581,110.570933 38.8,112.72 Z"
                      id="_Path_22" fill="#191919"></path>
                    <path
                      d="M54.27,111.91 C54.2506997,116.354541 50.6371479,119.944631 46.192576,119.934981 C41.748004,119.925331 38.150076,116.319582 38.150076,111.875 C38.150076,107.430418 41.748004,103.824669 46.192576,103.815019 C50.6371479,103.805369 54.2506997,107.395459 54.27,111.84 L54.27,111.91 Z"
                      id="_Path_23" fill="#191919"></path>
                    <path
                      d="M69.52,114.85 C69.5240444,118.132005 67.5495902,121.092905 64.5181848,122.350743 C61.4867794,123.608581 57.9961001,122.91536 55.6753702,120.59463 C53.3546402,118.2739 52.6614188,114.783221 53.9192568,111.751815 C55.1770948,108.72041 58.1379947,106.745956 61.42,106.75 C65.8935065,106.75 69.52,110.376494 69.52,114.85 Z"
                      id="_Path_24" fill="#191919"></path>
                    <path
                      d="M84.83,110.09 C84.8742484,113.370676 82.9374446,116.354815 79.9230829,117.650353 C76.9087211,118.945891 73.4107264,118.297567 71.0608685,116.007815 C68.7110106,113.718063 67.9722862,110.238038 69.1893008,107.191126 C70.4063153,104.144214 73.3392783,102.130754 76.62,102.09 L76.73,102.09 C81.1647433,102.089662 84.7752501,105.655595 84.83,110.09 Z"
                      id="_Path_25" fill="#191919"></path>
                    <circle id="_Path_26" fill="#191919" cx="84.17" cy="98.66" r="8.1"></circle>
                    <path
                      d="M97,84.39 C97.0040444,87.6720053 95.0295902,90.6329052 91.9981848,91.8907432 C88.9667794,93.1485812 85.4761001,92.4553598 83.1553702,90.1346298 C80.8346402,87.8138999 80.1414188,84.3232206 81.3992568,81.2918152 C82.6570948,78.2604098 85.6179947,76.2859556 88.9,76.29 C93.3640813,76.2899966 96.984482,79.9059221 96.99,84.37 L97,84.39 Z"
                      id="_Path_27" fill="#191919"></path>
                    <path
                      d="M95.93,70.54 C95.9299975,73.8210983 93.9529757,76.7789292 90.9212485,78.033615 C87.8895213,79.2883007 84.4004825,78.5926087 82.0818274,76.271091 C79.7631722,73.9495734 79.0717856,70.4596788 80.3302109,67.429502 C81.5886362,64.3993252 84.5489042,62.4259543 87.83,62.43 C92.3051236,62.435518 95.9300034,66.064873 95.93,70.54 Z"
                      id="_Path_28" fill="#191919"></path>
                    <path
                      d="M96.33,60.74 C96.6341041,65.2131906 93.2551949,69.0863103 88.7821039,69.3918763 C84.3090129,69.6974424 80.4347891,66.3197993 80.127761,61.8468084 C79.820733,57.3738175 83.1971097,53.49849 87.67,53.19 L88.24,53.19 C92.5615203,53.0439322 96.1833648,56.428499 96.33,60.75 L96.33,60.74 Z"
                      id="_Path_29" fill="#191919"></path>
                  </g>
                  <g id="_Group_6" transform="translate(134.000000, 180.000000)">
                    <rect id="_Path_30" fill="#AFAFAF" x="2.85" y="118.47" width="177.32" height="8.26"
                          rx="3.84"></rect>
                    <rect id="_Path_31" fill="#D8D8D8" x="0.51" y="0.77" width="182.05" height="122.32"
                          rx="12.48"></rect>
                    <path
                      d="M103.23,61.93 C103.238089,66.7076004 100.366891,71.0194536 95.9556722,72.8543037 C91.5444528,74.6891537 86.462272,73.6855143 83.0797037,70.3115312 C79.6971353,66.937548 78.6805838,61.8579342 80.5042178,57.4420662 C82.3278517,53.0261982 86.6323945,50.1440522 91.41,50.14 C94.5420971,50.1320303 97.5486425,51.3706682 99.7661891,53.5825865 C101.983736,55.7945048 103.23001,58.7978928 103.23,61.93 Z"
                      id="_Path_32" fill="#FFFFFF"></path>
                    <path
                      d="M3.94,4.14 L180.24,118.43 C181.456071,116.698338 182.234914,114.69805 182.51,112.6 L182.51,11.85 C182.304079,9.32288993 181.358008,6.91249599 179.79,4.92 C177.928545,2.7222188 175.315466,1.29625493 172.46,0.92 C171.592819,0.833460352 170.721388,0.796733366 169.85,0.81 L12.08,0.81 C9.96357689,0.855019342 7.89549951,1.45131499 6.08,2.54 C5.33626348,3.03141227 4.62172468,3.56564689 3.94,4.14 Z"
                      id="_Path_33" fill="#F5F5F5" opacity="0.57"></path>
                  </g>
                  <path
                    d="M300.61,331.85 C298.400703,341.776186 295.180568,351.449994 291,360.72 C291,360.72 250.05,366.47 193.7,345.44 C193.7,345.44 167.38,334.03 163.79,331.85 L300.61,331.85 Z"
                    id="_Path_34" fill="#191919"></path>
                  <path
                    d="M305.8,331.85 L305.06,337.62 C304.831088,339.431284 303.182645,340.717873 301.37,340.5 L301.23,340.5 C291.48,338.76 262.23,334.69 233.94,339.65 C199.31,345.71 181.42,340.51 181.42,340.51 C181.42,340.51 168.83,334.56 163.79,331.85 L305.8,331.85 Z"
                    id="_Path_35" fill="url(#linearGradient-3)"></path>
                  <g id="_Clip_Group_2" transform="translate(123.000000, 306.000000)">
                    <g id="Group">
                      <path
                        d="M0.173576294,0.71 L242,0.71 C242,7.65221931 236.372219,13.28 229.43,13.28 L18.829487,13.28 C12.5984043,9.3703333 6.37518284,5.18141253 0.173612351,0.71000022 Z"
                        id="Combined-Shape" fill="url(#linearGradient-4)"></path>
                      <path
                        d="M18.829487,13.28 L213.38,13.28 C213.38,20.2222193 207.752219,25.85 200.81,25.85 L40.6891886,25.85 C33.4065621,22.0380698 26.1126546,17.849793 18.829487,13.28 Z"
                        id="Combined-Shape" fill="url(#linearGradient-5)"></path>
                    </g>
                  </g>
                  <g id="_Group_7" transform="translate(305.000000, 48.000000)" stroke="#141414">
                    <circle id="_Path_38" stroke-width="3" fill="#FFFFFF" cx="48" cy="47.26" r="47.17"></circle>
                    <polyline id="_Path_39" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                              points="47.97 17.17 47.97 47.26 71.52 47.26"></polyline>
                    <path d="M47.97,5.34 L47.97,9.37" id="_Path_40" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M62.22,7.83 L60.86,11.62" id="_Path_41" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M74.8,15.04 L72.2,18.13" id="_Path_42" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M84.15,26.07 L80.67,28.11" id="_Path_43" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M89.2,39.62 L85.22,40.37" id="_Path_44" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M89.34,54.1 L85.34,53.44" id="_Path_45" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M84.55,67.76 L81.01,65.79" id="_Path_46" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M75.39,78.97 L72.75,75.92" id="_Path_47" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M62.97,86.4 L61.53,82.62" id="_Path_48" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M48.77,89.17 L48.68,85.13" id="_Path_49" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M34.47,86.93 L35.77,83.11" id="_Path_50" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M21.77,79.97 L24.3,76.82" id="_Path_51" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M12.22,69.11 L15.66,67" id="_Path_52" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M6.9,55.64 L10.87,54.85" id="_Path_53" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M6.5,41.18 L10.5,41.77" id="_Path_54" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M11.04,27.43 L14.61,29.34" id="_Path_55" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M19.97,16.06 L22.67,19.07" id="_Path_56" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M32.25,8.39 L33.77,12.14" id="_Path_57" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                  </g>
                  <g id="_Group_8">
                    <path
                      d="M75.6,17.08 C70.0827416,17.7981314 64.6168459,15.4281682 61.37,10.91 C58.48,7 52.61,1.94 43.39,7 C29.54,14.58 27.31,22.57 13.46,25.3 C-0.39,28.03 -3.69,38.71 4.21,46.76 C12.11,54.81 13.46,63.76 9.4,70.88 C5.34,78 3.13,96.35 17.32,97.68 C31.51,99.01 39.83,96.35 43.84,107.52 C47.85,118.69 63.84,132.58 83.34,120.92 C102.84,109.26 122.27,120.46 129.66,119.09 C133.634312,118.392513 137.168202,116.143394 139.482908,112.838279 C141.797614,109.533164 142.703163,105.443312 142,101.47 C142,101.15 141.88,100.84 141.81,100.47 C139.81,90.34 143.16,80.21 150.58,75.47 C150.58,75.47 159.71,72.88 161.93,61.36 C164.15,49.84 162.27,37.36 145.11,31.54 C127.95,25.72 132.71,12.54 117.6,4.84 C102.49,-2.86 91.6,2.42 87.38,7.4 C84,11.36 81.39,16.23 75.6,17.08 Z"
                      id="_Path_58" fill="url(#linearGradient-6)"></path>
                    <path
                      d="M130.72,122 C129.414705,125.999035 125.824848,128.814841 121.63,129.13 C114.29,129.84 114.98,139.99 124.07,138.59 C133.16,137.19 135.62,139.64 138.6,139.99 C141.58,140.34 146.11,139.45 146.48,133.99 C146.85,128.53 142.27,128.92 139.12,128.8 C135.97,128.68 138.95,122.86 137.02,121.11 C136.197902,120.369889 135.115423,119.986744 134.010783,120.044883 C132.906143,120.103022 131.869865,120.597681 131.13,121.42 C130.977426,121.601583 130.840283,121.79559 130.72,122 Z"
                      id="_Path_59" fill="url(#linearGradient-7)"></path>
                    <path
                      d="M152.05,147.94 C150.730406,147.032667 149.010308,146.952574 147.61211,147.733358 C146.213913,148.514142 145.379768,150.02058 145.46,151.62 L145.46,152.06 C145.63,157.25 149.99,155.21 152.16,155.52 C154.33,155.83 155.43,153.37 155.43,151.3 C155.43,149.23 153.66,149.49 152.38,148.16 L152.05,147.94 Z"
                      id="_Path_60" fill="url(#linearGradient-8)"></path>
                  </g>
                  <g id="_Group_9" transform="translate(46.000000, 25.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <path
                      d="M38.11,64.89 L42.75,64.7 L42.43,57.26 L37.59,57.48 C37.0782425,55.7898124 36.2983076,54.1928027 35.28,52.75 L38.5,49.39 L33.14,44.2 L29.78,47.66 C28.2397446,46.7941641 26.5726105,46.176582 24.84,45.83 L24.84,41.27 L17.39,41.27 L17.39,46.14 C15.309135,46.6725413 13.3524424,47.6067262 11.63,48.89 L8.17,45.58 L3.09,51 L6.83,54.46 C5.75121182,56.5381117 5.10807768,58.8146024 4.94,61.15 L0.34,61.75 L1.29,69.13 L6.1,68.51 C6.75946494,70.1500784 7.67408972,71.675578 8.81,73.03 L5.88,76.64 L11.68,81.3 L14.61,77.53 C16.2125148,78.2695647 17.9250537,78.7424551 19.68,78.93 L20.08,83.55 L27.49,82.91 L27.13,78.1 C28.783865,77.5151059 30.3359843,76.674937 31.73,75.61 L35.2,78.67 L40.11,73.08 L36.46,69.87 C37.2684702,68.3071011 37.8253151,66.6264422 38.11,64.89 Z M21.39,68.53 C17.5626667,68.53 14.46,65.4273333 14.46,61.6 C14.46,57.7726667 17.5626667,54.67 21.39,54.67 C25.2173333,54.67 28.32,57.7726667 28.32,61.6 C28.3226591,63.4387642 27.5933901,65.2029822 26.2931862,66.5031862 C24.9929822,67.8033901 23.2287642,68.5326591 21.39,68.53 Z"
                      id="_Compound_Path_"></path>
                    <path
                      d="M80.58,44.62 L85.24,44.42 L84.93,37 L80.08,37.22 C79.5695412,35.5342388 78.7930936,33.9408333 77.78,32.5 L81,29.12 L75.61,23.92 L72.27,27.39 C70.7309167,26.5194619 69.0635562,25.8984207 67.33,25.55 L67.33,21 L59.89,21 L59.89,25.86 C57.8046997,26.3938643 55.8443618,27.3315649 54.12,28.62 L50.66,25.31 L45.6,30.76 L49.34,34.23 C48.2497131,36.2993501 47.6090495,38.5757507 47.46,40.91 L42.83,41.52 L43.83,48.89 L48.65,48.27 C49.2987531,49.9088772 50.2033223,51.434494 51.33,52.79 L48.42,56.41 L54.22,61.07 L57.22,57.36 C58.8194485,58.0983524 60.5284981,58.5712119 62.28,58.76 L62.68,63.39 L70.09,62.68 L69.66,57.84 C71.3218835,57.2593042 72.8812279,56.4188784 74.28,55.35 L77.74,58.42 L82.66,52.82 L79.01,49.62 C79.7978059,48.0482004 80.3278975,46.3600104 80.58,44.62 Z M63.89,48.25 C61.0861673,48.2499971 58.5586074,46.5604727 57.4865637,43.9696813 C56.4145199,41.3788899 57.0092565,38.3973903 58.9932966,36.4162132 C60.9773367,34.4350361 63.959692,33.8446056 66.5489326,34.9203894 C69.1381733,35.9961733 70.8240459,38.5261702 70.82,41.33 C70.8200019,43.167032 70.08956,44.9286783 68.7896447,46.2267179 C67.4897293,47.5247574 65.7270301,48.2526547 63.89,48.25 Z"
                      id="_Compound_Path_2"></path>
                    <path
                      d="M42.19,22.73 L46.82,22.09 L45.82,14.71 L41.02,15.39 C40.3427195,13.7653637 39.4147731,12.257029 38.27,10.92 L41.14,7.26 L35.29,2.66 L32.29,6.49 C30.674864,5.77336099 28.9573312,5.31445243 27.2,5.13 L26.77,0.53 L19.36,1.26 L19.84,6.09 C17.811669,6.82011073 15.9463989,7.94131133 14.35,9.39 L10.51,6.45 L6,12.34 L10,15.44 C9.09928137,17.6319988 8.67982381,19.9918739 8.77,22.36 L4.2,23.36 L6,30.61 L10.73,29.52 C11.5425489,31.0839977 12.5991296,32.508525 13.86,33.74 L11.31,37.64 L17.5,41.78 L20.16,37.71 C21.8335155,38.2882317 23.5894951,38.5921513 25.36,38.61 L26.21,43.18 L33.5,41.78 L32.56,37 C34.1558517,36.2595704 35.6241072,35.2706075 36.91,34.07 L40.7,36.77 L45.03,30.77 L41.03,27.96 C41.7078431,26.2942471 42.1000054,24.5261361 42.19,22.73 Z M25.93,27.92 C23.141351,28.2087934 20.4534181,26.7889219 19.1200631,24.3227246 C17.7867082,21.8565272 18.0706383,18.8299116 19.8394062,16.6547277 C21.6081742,14.4795438 24.5132848,13.5843618 27.1995675,14.3867645 C29.8858502,15.1891672 31.8240346,17.5310596 32.11,20.32 L32.11,20.39 C32.470369,24.1721324 29.7097819,27.5357603 25.93,27.92 Z"
                      id="_Compound_Path_3"></path>
                  </g>
                </g>
              </g>
            </svg>
            <svg class="requirements__img-svg-v2" width="343px" height="407px" viewBox="0 0 343 407" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
              <title>man-laptop-v2</title>
              <desc>Created with Sketch.</desc>
              <defs>
                <linearGradient x1="49.9983941%" y1="100.002205%" x2="49.9983941%" y2="0.00138359584%"
                                id="linearGradient-1">
                  <stop stop-color="#76AADB" offset="0%"></stop>
                  <stop stop-color="#4A72B2" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="3.76945748e-15%" y1="49.9953462%" x2="100%" y2="49.9953462%" id="linearGradient-2">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.0309717383%" y1="4732.39915%" x2="100%" y2="4732.39915%" id="linearGradient-3">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="0%" y1="49.9999192%" x2="100%" y2="49.9999192%" id="linearGradient-4">
                  <stop stop-color="#FFFFFF" offset="0%"></stop>
                  <stop stop-color="#F7F7F8" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="0%" y1="4057.30534%" x2="100.020619%" y2="4057.30534%" id="linearGradient-5">
                  <stop stop-color="#FFFFFF" offset="0%"></stop>
                  <stop stop-color="#F7F7F8" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.00216284457%" y1="454.483099%" x2="99.9986022%" y2="454.483099%"
                                id="linearGradient-6">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="-0.0102291127%" y1="2570.34623%" x2="100.005564%" y2="2570.34623%"
                                id="linearGradient-7">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="0.408260944%" y1="5979.02781%" x2="100.329774%" y2="5979.02781%"
                                id="linearGradient-8">
                  <stop stop-color="#2ACAFF" offset="0%"></stop>
                  <stop stop-color="#2ADFC3" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="man-laptop-v2">
                  <path
                    d="M59.32,352.86 C59.32,352.86 -20.68,297.51 59.32,221.96 C139.32,146.41 232.24,102.4 290.32,99.86 C348.4,97.32 357.43,236.64 322.58,328.27 C287.73,419.9 169,435.36 59.32,352.86 Z"
                    id="_Path_" fill="url(#linearGradient-1)"></path>
                  <path
                    d="M237.29,261.81 C237.29,261.81 274.8,307.49 228.29,337.03 L221.03,322.03 C221.03,322.03 237.03,305.31 225.19,284.91 L237.29,261.81 Z"
                    id="_Path_2" fill="#FFCB9C"></path>
                  <path
                    d="M71.14,261.81 C71.14,261.81 33.63,307.49 80.14,337.03 L87.4,322.03 C87.4,322.03 71.4,305.31 83.24,284.91 L71.14,261.81 Z"
                    id="_Path_3" fill="#FFCB9C"></path>
                  <path
                    d="M245.93,271.47 C226.83,233.47 191.17,227.79 191.17,227.79 L191.17,228 L179.8,225.25 C155.80022,220.140279 130.909959,221.036823 107.34,227.86 C107.34,227.86 72.46,237.14 57.43,276.91 L79.3,288.86 C77.49,307.76 77.94,331.39 82.7,360.69 C93.92,357.13 106.63,361.84 118.3,362.58 C132.16,363.46 144.58,362.01 158.23,364.03 C183.04,367.68 208.36,366.03 233.36,368.03 C233.7,345.69 232.69,314.27 226.52,284.87 L245.93,271.47 Z"
                    id="_Path_4" fill="url(#linearGradient-2)"></path>
                  <g id="_Group_2" transform="translate(116.000000, 126.000000)">
                    <path
                      d="M80.43,51.84 C79.88,64.78 76.65,76.49 57.23,85.22 C57.23,85.22 47.23,95.22 50.17,108.99 C53.11,122.76 15.52,121.7 21.17,102.68 C26.82,83.66 17.47,61.82 10.65,49.39 C3.83,36.96 6.65,11.05 22.34,2.59 C28.5,-0.71 43.84,0.8 53.85,5.74 C70.65,14 81.22,33.11 80.43,51.84 Z"
                      id="_Path_5" fill="#FFCB9C"></path>
                    <path
                      d="M14.48,38.26 C11.5733389,36.0696241 7.85323953,35.262019 4.3,36.05 C-1.32,37.52 -2.3,58.11 10.87,61.7 C24.04,65.29 19.31,52.37 19.31,52.37 L14.48,38.26 Z"
                      id="_Path_6" fill="#FFCB9C"></path>
                    <path
                      d="M81.11,49.63 C80.586895,49.7067749 80.0586971,49.7435482 79.53,49.74 C78.4920305,49.7629822 77.4585384,49.5969457 76.48,49.25 C72.08,51.46 64.59,53.87 57.15,50.01 C45.65,44.01 35.46,43.14 30.09,45.76 C20.84,50.26 10.26,47.84 7.09,33.58 C7.09,33.58 5.8,44.92 12.81,50.91 C19.82,56.9 20.13,66.23 19.11,74 C18.09,81.77 12.54,90.41 19.6,100.18 C26.66,109.95 38.19,100.18 46.85,102.51 C55.51,104.84 74.59,107.24 78.58,91.51 C82.57,75.78 77.41,69.86 78.58,63.32 C79.6,57.74 81.8,54.42 81.11,49.63 Z"
                      id="_Path_7" fill="#191919"></path>
                    <g id="_Group_3" transform="translate(41.000000, 54.000000)">
                      <g id="_Group_4" fill="#CE3E3E">
                        <path
                          d="M13,3.33 C11.3907125,1.98657887 9.5116797,1.00443469 7.49,0.45 C4.81,-0.05 2,0.45 0.87,3.76 C-0.26,7.07 2.6,10.15 6.29,12.94 C8.46,14.52 16.29,17.4 21.05,16.09 C25.81,14.78 28.37,13.48 29.87,10.69 C31.0308199,7.91183363 29.952845,4.70357494 27.35,3.19 C25.4180646,2.2506905 23.1498583,2.31038014 21.27,3.35 C18.7506744,4.9750444 15.5114363,4.96721069 13,3.33 Z"
                          id="_Path_8"></path>
                      </g>
                      <g id="_Group_5" transform="translate(2.000000, 9.000000)" fill="#FF7D7D">
                        <path
                          d="M0.6,0.65 C3.39687693,-0.229700679 6.40334947,-0.180586775 9.17,0.79 C12.7230053,1.80706916 15.7508137,4.14771539 17.63,7.33 C13.7655638,7.60125187 9.89672225,6.86744667 6.4,5.2 C4.12045717,4.18579318 2.12774387,2.62254396 0.6,0.65 Z"
                          id="_Path_9"></path>
                      </g>
                    </g>
                    <path
                      d="M46.86,31.63 C46.86,33.88 45.92,35.71 44.75,35.71 C43.58,35.71 42.64,33.88 42.64,31.63 C42.64,29.38 43.64,27.56 44.75,27.56 C45.86,27.56 46.86,29.37 46.86,31.63 Z"
                      id="_Path_10" fill="#191919"></path>
                    <path
                      d="M69.88,34.26 C69.88,36.51 68.93,38.34 67.77,38.34 C66.61,38.34 65.66,36.51 65.66,34.26 C65.66,32.01 66.6,30.19 67.77,30.19 C68.94,30.19 69.88,32 69.88,34.26 Z"
                      id="_Path_11" fill="#191919"></path>
                    <circle id="_Path_12" stroke="#1D1D1B" stroke-width="2" cx="71.36" cy="31.66" r="12.98"></circle>
                    <polygon id="_Path_13" fill="#FF6252" points="58.76 20.65 65.63 47.9 51.5 46.32"></polygon>
                    <path
                      d="M55.7,29.55 C55.7,36.7297017 49.8797017,42.55 42.7,42.55 C35.5202983,42.55 29.7,36.7297017 29.7,29.55 C29.7,22.3702983 35.5202983,16.55 42.7,16.55 C49.8797017,16.55 55.7,22.3702983 55.7,29.55 Z"
                      id="_Path_14" stroke="#1D1D1B" stroke-width="2"></path>
                    <path d="M61.64,23.04 L53.86,23.04" id="_Path_15" stroke="#1D1D1B" stroke-width="2"></path>
                    <path d="M30.15,26.03 L5.96,33.58" id="_Path_16" stroke="#1D1D1B" stroke-width="2"></path>
                    <path
                      d="M19.05,53.41 C19.0540461,55.9630629 17.5192319,58.2669851 15.1616696,59.2468048 C12.8041073,60.2266245 10.0884253,59.6892389 8.28170387,57.8853807 C6.47498247,56.0815226 5.93329027,53.3666963 6.90936955,51.0075829 C7.88544883,48.6484696 10.1869339,47.1100032 12.74,47.11 C16.2210153,47.1099956 19.0444833,49.9289891 19.05,53.41 Z"
                      id="_Path_17" fill="#191919"></path>
                    <path
                      d="M21.19,60.85 C21.19,63.8709976 18.7409976,66.32 15.72,66.32 C12.6990024,66.32 10.25,63.8709976 10.25,60.85 C10.25,57.8290024 12.6990024,55.38 15.72,55.38 C17.1715483,55.377339 18.5644108,55.9527864 19.5908122,56.9791878 C20.6172136,58.0055892 21.192661,59.3984517 21.19,60.85 Z"
                      id="_Path_18" fill="#191919"></path>
                    <path
                      d="M23.09,69.46 C23.09,73.5303386 19.7903386,76.83 15.72,76.83 C11.6496614,76.83 8.35,73.5303386 8.35,69.46 C8.35,65.3896614 11.6496614,62.09 15.72,62.09 C19.7880547,62.0955085 23.0844915,65.3919453 23.09,69.46 Z"
                      id="_Path_19" fill="#191919"></path>
                    <path
                      d="M23.09,81.4 C23.1065346,85.4702891 19.8203292,88.7833206 15.7500402,88.7998777 C11.6797512,88.8164348 8.36670153,85.5302477 8.35012195,81.4599588 C8.33354237,77.3896699 11.6197111,74.0766021 15.69,74.06 C19.7603386,74.06 23.06,77.3596614 23.06,81.43 L23.09,81.4 Z"
                      id="_Path_20" fill="#191919"></path>
                    <path
                      d="M26.42,94.54 C26.4280889,97.5258274 24.6362297,100.222338 21.8803923,101.371507 C19.1245549,102.520677 15.9477999,101.896052 13.8322036,99.7890442 C11.7166073,97.6820362 11.0790654,94.5078484 12.2170153,91.7473592 C13.3549652,88.98687 16.0441644,87.1840568 19.03,87.18 C23.0996972,87.1799665 26.4034789,90.4703363 26.42,94.54 Z"
                      id="_Path_21" fill="#191919"></path>
                    <path
                      d="M34.88,102.61 C34.88,106.685861 31.5758615,109.99 27.5,109.99 C23.4241385,109.99 20.12,106.685861 20.12,102.61 C20.12,98.5341385 23.4241385,95.23 27.5,95.23 C29.4581115,95.2273413 31.3367885,96.004021 32.7213838,97.3886162 C34.105979,98.7732115 34.8826587,100.651888 34.88,102.61 Z"
                      id="_Path_22" fill="#191919"></path>
                    <path
                      d="M48.94,101.87 C48.9619901,105.938941 45.6822939,109.255821 41.6133633,109.279703 C37.5444327,109.303584 34.2260286,106.02543 34.2002555,101.956511 C34.1744824,97.8875922 37.4510933,94.5676646 41.52,94.54 C43.4771795,94.5240282 45.360115,95.2882806 46.7525147,96.6637914 C48.1449144,98.0393022 48.9320873,99.9127713 48.94,101.87 Z"
                      id="_Path_23" fill="#191919"></path>
                    <path
                      d="M62.82,104.54 C62.82,108.610339 59.5203386,111.91 55.45,111.91 C51.3796614,111.91 48.08,108.610339 48.08,104.54 C48.08,100.469661 51.3796614,97.17 55.45,97.17 C59.5157783,97.1809887 62.8090113,100.474222 62.82,104.54 Z"
                      id="_Path_24" fill="#191919"></path>
                    <path
                      d="M76.75,100.21 C76.7982831,103.196211 75.0419766,105.917136 72.3008173,107.102814 C69.5596581,108.288491 66.3741034,107.705149 64.2309762,105.625055 C62.0878489,103.544961 61.4096962,100.378234 62.5130384,97.6029106 C63.6163806,94.8275869 66.2836785,92.9908592 69.27,92.95 L69.37,92.95 C73.3994547,92.9494673 76.6844804,96.1810779 76.75,100.21 Z"
                      id="_Path_25" fill="#191919"></path>
                    <circle id="_Path_26" fill="#191919" cx="76.15" cy="89.82" r="7.37"></circle>
                    <path
                      d="M87.84,76.84 C87.84,80.9158615 84.5358615,84.22 80.46,84.22 C76.3841385,84.22 73.08,80.9158615 73.08,76.84 C73.08,72.7641385 76.3841385,69.46 80.46,69.46 C84.5202554,69.4709886 87.8090114,72.7597446 87.82,76.82 L87.84,76.84 Z"
                      id="_Path_27" fill="#191919"></path>
                    <path
                      d="M86.84,64.23 C86.84,68.3003386 83.5403386,71.6 79.47,71.6 C75.3996614,71.6 72.1,68.3003386 72.1,64.23 C72.1,60.1596614 75.3996614,56.86 79.47,56.86 C83.5357783,56.8709887 86.8290113,60.1642217 86.84,64.23 Z"
                      id="_Path_28" fill="#191919"></path>
                    <path
                      d="M87.21,55.32 C87.4210667,58.3018206 85.8149618,61.1171252 83.1407389,62.4529151 C80.4665159,63.7887051 77.25093,63.381863 74.9936627,61.4221316 C72.7363954,59.4624001 71.8820719,56.3357974 72.8291308,53.5005051 C73.7761896,50.6652127 76.3380839,48.6797126 79.32,48.47 L79.85,48.47 C83.7718099,48.3349908 87.0635148,51.398602 87.21,55.32 Z"
                      id="_Path_29" fill="#191919"></path>
                  </g>
                  <g id="_Group_6" transform="translate(75.000000, 242.000000)">
                    <rect id="_Path_30" fill="#AFAFAF" x="2.23" y="107.36" width="161.3" height="7.51" rx="3.5"></rect>
                    <rect id="_Path_31" fill="#D8D8D8" x="0.11" y="0.29" width="165.6" height="111.27"
                          rx="11.36"></rect>
                    <path
                      d="M93.55,55.93 C93.562137,60.2797681 90.9517753,64.2081692 86.936981,65.8821037 C82.9221868,67.5560382 78.2942972,66.6455648 75.2128124,63.5755353 C72.1313276,60.5055058 71.2036245,55.8810393 72.8625948,51.8600385 C74.521565,47.8390378 78.4402169,45.2140632 82.79,45.21 C85.6348538,45.1993737 88.3672656,46.3199898 90.385449,48.3250438 C92.4036325,50.3300978 93.5420584,53.0551375 93.55,55.9 L93.55,55.93 Z"
                      id="_Path_32" fill="#FFFFFF"></path>
                    <path
                      d="M3.23,3.37 L163.6,107.37 C164.71063,105.794178 165.421073,103.97174 165.67,102.06 L165.67,10.38 C165.481706,8.08161506 164.618972,5.88999119 163.19,4.08 C161.503595,2.07276746 159.128493,0.767531335 156.53,0.42 C155.74,0.42 154.95,0.33 154.15,0.33 L10.63,0.33 C8.71519327,0.378247068 6.84510263,0.918954677 5.2,1.9 C4.52,2.36 3.86,2.85 3.23,3.37 Z"
                      id="_Path_33" fill="#F5F5F5" opacity="0.57"></path>
                  </g>
                  <path
                    d="M226.2,379.73 C224.211948,388.767825 221.28263,397.572537 217.46,406 C217.46,406 180.21,411.22 129,392.1 C129,392.1 105.06,381.72 101.79,379.73 L226.2,379.73 Z"
                    id="_Path_34" fill="#191919"></path>
                  <path
                    d="M230.93,379.73 L230.25,384.98 C230.157385,385.772349 229.753002,386.495182 229.126243,386.988708 C228.499484,387.482233 227.701969,387.705805 226.91,387.61 L226.77,387.61 C217.9,386.04 191.31,382.33 165.56,386.84 C134.05,392.35 117.78,387.63 117.78,387.63 C117.78,387.63 106.33,382.21 101.78,379.75 L230.93,379.73 Z"
                    id="_Path_35" fill="url(#linearGradient-3)"></path>
                  <g id="_Clip_Group_2" transform="translate(64.000000, 356.000000)">
                    <g id="Group">
                      <path
                        d="M0.750777813,0.86 L220.76,0.86 C220.76,7.17813754 215.638138,12.3 209.32,12.3 L17.7305359,12.3 C12.0591963,8.74189325 6.39509731,4.9295425 0.750809678,0.860000191 Z"
                        id="Combined-Shape" fill="url(#linearGradient-4)"></path>
                      <path
                        d="M17.7305359,12.3 L194.71,12.3 C194.704481,18.6142319 189.584234,23.7300024 183.27,23.73 L37.6091402,23.73 C30.9864111,20.2635985 24.3535363,16.4551633 17.7305359,12.3 Z"
                        id="Combined-Shape" fill="url(#linearGradient-5)"></path>
                    </g>
                  </g>
                  <g id="_Group_7" transform="translate(230.000000, 121.000000)" stroke="#141414">
                    <circle id="_Path_38" stroke-width="3" fill="#FFFFFF" cx="43.87" cy="43.51" r="42.91"></circle>
                    <polyline id="_Path_39" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                              points="43.84 16.15 43.84 43.53 65.26 43.53"></polyline>
                    <path d="M43.84,5.37 L43.84,9.04" id="_Path_40" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M56.8,7.64 L55.56,11.09" id="_Path_41" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M68.24,14.19 L65.88,17.01" id="_Path_42" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M76.75,24.23 L73.58,26.09" id="_Path_43" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M81.35,36.56 L77.72,37.24" id="_Path_44" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M81.47,49.73 L77.83,49.13" id="_Path_45" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M77.11,62.16 L73.9,60.36" id="_Path_46" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M68.78,72.35 L66.38,69.58" id="_Path_47" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M57.48,79.11 L56.17,75.68" id="_Path_48" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M44.56,81.63 L44.49,77.96" id="_Path_49" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M31.55,79.6 L32.73,76.12" id="_Path_50" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M20.01,73.27 L22.31,70.4" id="_Path_51" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M11.31,63.39 L14.45,61.47" id="_Path_52" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M6.47,51.13 L10.08,50.41" id="_Path_53" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M6.11,37.98 L9.75,38.52" id="_Path_54" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M10.24,25.47 L13.48,27.21" id="_Path_55" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M18.37,15.12 L20.83,17.86" id="_Path_56" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M29.54,8.15 L30.92,11.56" id="_Path_57" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                  </g>
                  <g id="_Group_8">
                    <path
                      d="M68.78,14.63 C63.7554391,15.2847497 58.7783277,13.1209553 55.83,9 C53.2,5.41 47.83,0.84 39.48,5.42 C26.87,12.36 24.84,19.62 12.24,22.11 C-0.36,24.6 -3.35,34.3 3.83,41.63 C11.01,48.96 12.24,57.06 8.55,63.57 C4.86,70.08 2.85,86.74 15.75,88 C28.65,89.26 36.23,86.79 39.89,97 C43.55,107.21 58.1,119.83 75.82,109.19 C93.54,98.55 111.23,108.8 117.95,107.52 C121.562474,106.890509 124.776281,104.850148 126.882891,101.848745 C128.989501,98.8473412 129.815937,95.131345 129.18,91.52 L129.18,91.46 C129.15237,91.16835 129.095415,90.8802274 129.01,90.6 C127.21,81.41 130.22,72.2 137.06,67.83 C137.06,67.83 145.36,65.47 147.37,54.99 C149.38,44.51 147.6,33.09 132,27.81 C116.4,22.53 120.71,10.48 107,3.52 C93.29,-3.44 83.33,1.32 79.47,5.85 C76.42,9.46 74,13.85 68.78,14.63 Z"
                      id="_Path_58" fill="url(#linearGradient-6)"></path>
                    <path
                      d="M92.14,117.93 C90.9619943,121.580285 87.6944074,124.156424 83.87,124.45 C77.19,125.1 77.82,134.33 86.09,133.05 C94.36,131.77 96.59,134.05 99.3,134.33 C102.01,134.61 106.14,133.84 106.47,128.91 C106.8,123.98 102.64,124.29 99.78,124.18 C96.92,124.07 99.62,118.78 97.87,117.18 C96.3116137,115.779862 93.9140191,115.905109 92.51,117.46 C92.3779497,117.609604 92.2544212,117.766518 92.14,117.93 Z"
                      id="_Path_59" fill="url(#linearGradient-7)"></path>
                    <path
                      d="M106.82,149.42 C105.979395,148.844059 104.944343,148.625843 103.942772,148.813403 C102.941201,149.000963 102.055245,149.578919 101.48,150.42 C101.000426,151.117385 100.768083,151.955227 100.82,152.8 L100.82,153.19 C100.97,157.92 104.94,156.06 106.91,156.34 C108.88,156.62 109.91,154.39 109.91,152.5 C109.91,150.61 108.33,150.92 107.14,149.65 L106.82,149.42 Z"
                      id="_Path_60" fill="url(#linearGradient-8)"></path>
                  </g>
                  <g id="_Group_9" transform="translate(42.000000, 22.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <path
                      d="M34.51,58.86 L38.73,58.69 L38.45,51.92 L34.04,52.12 C33.5734941,50.5839655 32.8645581,49.1323346 31.94,47.82 L34.87,44.82 L30,40 L26.94,43.15 C25.536392,42.3694879 24.0225035,41.8064158 22.45,41.48 L22.45,37.38 L15.67,37.38 L15.67,41.8 C13.776644,42.2961162 11.9949657,43.1479281 10.42,44.31 L7.27,41.31 L2.66,46.31 L6.06,49.46 C5.08820971,51.3521836 4.50347616,53.4191486 4.34,55.54 L0.15,56 L1,62.76 L5.38,62.19 C5.97928138,63.6805835 6.8094392,65.0675545 7.84,66.3 L5.24,69.59 L10.51,73.83 L13.11,70.4 C14.5676801,71.079974 16.129569,71.5093244 17.73,71.67 L18.09,75.88 L24.83,75.29 L24.52,71 C26.0301153,70.4746308 27.4451204,69.708029 28.71,68.73 L31.86,71.52 L36.34,66.43 L33,63.46 C33.7510808,62.0193823 34.2611645,60.4654851 34.51,58.86 Z M19.31,62.17 C15.8306061,62.17 13.01,59.3493939 13.01,55.87 C13.01,52.3906061 15.8306061,49.57 19.31,49.57 C22.7893939,49.57 25.61,52.3906061 25.61,55.87 C25.61,59.3493939 22.7893939,62.17 19.31,62.17 Z"
                      id="_Compound_Path_"></path>
                    <path
                      d="M73.15,40.42 L77.39,40.25 L77.1,33.47 L72.69,33.68 C72.22917,32.143575 71.5234323,30.6915788 70.6,29.38 L73.53,26.32 L68.63,21.59 L65.63,24.75 C64.229608,23.9625305 62.7146157,23.3990478 61.14,23.08 L61.14,19 L54.33,19 L54.33,23.43 C52.4356805,23.9184218 50.653198,24.767223 49.08,25.93 L45.93,22.93 L41.33,27.86 L44.73,31 C43.7594231,32.8895889 43.1908095,34.9597513 43.06,37.08 L38.86,37.63 L39.74,44.34 L44.12,43.77 C44.7122474,45.2597352 45.5356924,46.6467677 46.56,47.88 L43.91,51.18 L49.19,55.41 L51.84,52 C53.2880249,52.6888006 54.8443144,53.1218551 56.44,53.28 L56.8,57.49 L63.54,56.81 L63.15,52.41 C64.6615727,51.8854865 66.0794924,51.1225106 67.35,50.15 L70.5,53 L75,47.89 L71.65,45 C72.3990655,43.5664639 72.9059034,42.0189189 73.15,40.42 Z M58,43.73 C55.4469339,43.7299968 53.1454488,42.1915304 52.1693696,39.8324171 C51.1932903,37.4733037 51.7349825,34.7584774 53.5417039,32.9546193 C55.3484253,31.1507611 58.0641073,30.6133755 60.4216696,31.5931952 C62.7792319,32.5730149 64.3140461,34.8769371 64.31,37.43 C64.3100021,39.1025979 63.6448815,40.7065449 62.4612386,41.888312 C61.2775957,43.070079 59.6725958,43.7326549 58,43.73 Z"
                      id="_Compound_Path_2"></path>
                    <path
                      d="M38.23,20.54 L42.43,19.96 L41.49,13.21 L37.12,13.83 C36.5021077,12.352237 35.6587501,10.9792509 34.62,9.76 L37.23,6.44 L31.91,2.25 L29.19,5.73 C27.7143402,5.08798378 26.1499162,4.67327657 24.55,4.5 L24.16,0.31 L17.42,1 L17.86,5.4 C16.0177089,6.07291348 14.3207077,7.09111422 12.86,8.4 L9.36,5.72 L5.25,11.11 L9,13.91 C8.17999666,15.9056151 7.79805474,18.0540384 7.88,20.21 L3.72,21.09 L5.3,27.67 L9.6,26.67 C10.3338796,28.1000485 11.2965713,29.4005268 12.45,30.52 L10.13,34.06 L15.76,37.86 L18.18,34.15 C19.6983542,34.6911229 21.2981033,34.9684578 22.91,34.97 L23.68,39.13 L30.31,37.86 L29.51,33.51 C30.9824979,32.8528858 32.3345354,31.9537809 33.51,30.85 L36.96,33.3 L40.9,27.81 L37.31,25.25 C37.8781449,23.7425644 38.1891353,22.1504287 38.23,20.54 Z M23.44,25.26 C20.9050225,25.5217498 18.4620307,24.230485 17.2504468,21.9884572 C16.038863,19.7464294 16.2973552,16.9952923 17.9053615,15.0181884 C19.5133679,13.0410846 22.1541296,12.2274806 24.5959837,12.9568452 C27.0378378,13.6862097 28.7997671,15.8148663 29.06,18.35 C29.2332781,20.0120173 28.7380933,21.6746759 27.6837213,22.9710657 C26.6293493,24.2674554 25.1024591,25.0910136 23.44,25.26 Z"
                      id="_Compound_Path_3"></path>
                  </g>
                </g>
              </g>
            </svg>
          </v-col>
        </v-row>
      </div>
    </div>
    <!--    Requirements end-->
    <!--    Form-->
    <div itemscope itemtype="https://schema.org/Thing" class="form" v-if="this.$store.state.formAvailable">
      <div class="base__container base__content-block form__container">
        <div class="base__heading form__heading">
          <base-typography component="h2" itemprop="name">
            {{ $t('Register to get a work') }}
          </base-typography>
        </div>
        <div class="base__attention form__attention">
          <base-typography component="p1" itemprop="description">
            {{ $t('Attention! After successful registration') }}
          </base-typography>
        </div>
        <v-form
          ref="form"
          v-model="valid"
          :lazy-validation="false">
          <v-row class="form__content">
            <v-col sm="4" cols="12" class="form__field">
              <base-text-field
                :label="$t('Name')"
                :placeholder="$t('Your name')"
                :rules="nameRules"
                :disabled="formSending"
                v-model="name"
              ></base-text-field>
            </v-col>
            <v-col sm="4" cols="12" class="form__field">
              <base-text-field
                :label="$t('Email')"
                :placeholder="$t('Your email')"
                :rules="emailRules"
                :disabled="formSending"
                v-model="email"
              ></base-text-field>
            </v-col>
            <v-col sm="4" cols="12" class="form__field">
              <base-text-field
                :label="$t('Phone')"
                placeholder="+38(___)___ __ __"
                :mask="phoneUkrMask"
                :rules="phoneRules"
                :disabled="formSending"
                v-model="phone"
              ></base-text-field>
            </v-col>
            <v-col sm="6" cols="12" class="form__field">
              <base-select-field
                :items="this.$store.state.positionsNames"
                label=""
                :placeholder="$t('Select your position')"
                :rules="positionRules"
                :disabled="formSending"
                @change-value="setPosition($event)"
              ></base-select-field>
            </v-col>
            <v-col sm="6" cols="12" class="form__field">
              <base-file-field
                :placeholder="$t('Upload your photo')"
                label=""
                :error="!isFileOk"
                :messages="[$t('File format jpg  up to 5 MB, the minimum size of 70x70px')]"
                @change-file="onImgChange($event)"
                accept-files=".jpg"
                :disabled="formSending"
                :rules="fileRules"
              >
                {{ $t('buttons.upload') }}
              </base-file-field>
            </v-col>
          </v-row>
          <div class="form__button text-center">
            <base-button
              @click="postUserData"
              :disabled="!valid"
              :loading="formSending"
              :outlined="valid">
              {{ $t('buttons.signUp') }}
            </base-button>
          </div>
        </v-form>
      </div>
    </div>
    <!--    Form end-->
    <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">
          <base-typography component="h4">
            {{ (error) ? 'Ooops!' : $t('Congratulations') }}
          </base-typography>
        </v-card-title>
        <v-card-text>
          <base-typography component="p2">
            {{ (error) ? error : $t('You have successfully passed the registration') }}
          </base-typography>
        </v-card-text>
        <v-card-text class="text-right">
          <a
            class="base__link base__link-bold popup_button"
            @click="registerSuccess">
            {{ $t('buttons.ok') }}
          </a>

        </v-card-text>
      </v-card>
    </v-dialog>
  </main>
</template>

<script>
  import BaseTypography from '~/components/BaseTypography.vue';
  import BaseButton from '~/components/BaseButton.vue';
  import BaseTextField from "~/components/BaseTextField.vue";
  import BaseSelectField from "~/components/BaseSelectField.vue";
  import BaseFileField from "~/components/BaseFileField.vue";

  const BaseLink = () => import('~/components/BaseLink.vue')

  export default {
    head: () => ({
      title: 'Registration',
    }),
    components: {
      BaseTypography,
      BaseButton,
      BaseTextField,
      BaseSelectField,
      BaseFileField,
      BaseLink,
    },
    data: () => ({
      dialog: false,
      valid: false,
      isFileOk: true,
      formSending: false,
      token: '',
      error: null,
      phoneUkrMask: '+38(###)### ## ##',
      nameRules: [
        (v) => !!v || 'Name is required',
        (v) => /^[A-Za-z\s]+$/.test(v) || 'Name must be in Latin letters',
        (v) => (v && v.length >= 2) || 'Name must be greater than 2 characters',
        (v) => (v && v.length <= 60) || 'Name must be less than 60 characters',
      ],
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /\.[a-zA-Z0-9._-]{2,}$/.test(v) || 'E-mail must be valid',
        (v) => /(?=.*[a-zA-Z])([a-zA-Z0-9]+){2,63}$/.test(v) || 'E-mail must be valid',
        (v) => /^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/.test(v) || 'E-mail must be valid',
        (v) => (v && v.length >= 2) || 'Email must be greater than 2 characters',
        (v) => (v && v.length <= 100) || 'Email must be less than 100 characters',
      ],
      phoneRules: [
        (v) => !!v || 'Field is required',
        (v) => /^[+]?38\(?(0\d{2})\)\d{3}\s\d{2}\s\d{2}/.test(v) || 'The number must match the Ukrainian format',
      ],
      positionRules: [
        (v) => !!v || 'Position is required',
      ],
      fileRules: [
        (v) => !!v || 'Photo is required',
      ]
    }),
    computed: {
      name: {
        get() {
          return this.$store.state.newUser.name;
        },
        set(value) {
          if (value) {
            this.$store.commit('updateName', value.trim().replace(/\s+/g, ' '));
          }
        }
      },
      phone: {
        get() {
          return this.$store.state.newUser.phone;
        },
        set(value) {
          this.$store.commit('updatePhone', value);
        }
      },
      email: {
        get() {
          return this.$store.state.newUser.email;
        },
        set(value) {
          if (value) {
            this.$store.commit('updateEmail', value.trim().replace(/\s/g, ''));
          }
        }
      },
    },
    methods: {
      setPosition(e) {
        this.$store.commit('updatePosition', e);
      },
      onImgChange(e) {
        if (e && (/^.*\.(jpg|JPG|jpeg|JPEG)$/.test(e.name) &&
          (e.size < 5000000))) {
          this.$store.commit('updatePhoto', e);
          this.isFileOk = true
          this.checkImgResolution(e);
        } else {
          this.isFileOk = false;
        }
      },
      checkImgResolution(e) {
        const that = this;
        let _URL = window.URL || window.webkitURL;
        let img, file;
        if ((file = e)) {
          img = new Image();
          img.onload = function () {
            if (this.width < 70 && this.height < 70) {
              that.isFileOk = false;
            }
          };
          img.onerror = function () {
            that.isFileOk = false;
          };
          img.src = _URL.createObjectURL(file);
        }
      },

      postUserData() {
        this.formSending = true;
        fetch('https://frontend-test-assignment-api.abz.agency/api/v1/token')
          .then(function (response) {
            return response.json();
          })
          .then((data) => {
            this.sendData(data.token);
          });
      },
      sendData(token) {
        fetch('https://frontend-test-assignment-api.abz.agency/api/v1/users', {
          method: 'POST',
          body: this.dataGeneration(),
          headers: {
            'Token': token,
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then((data) => {
            this.error = null;
            if (data.success) {
              this.formSending = false;
              this.modalToggle();
            } else {
              this.formSending = false;
              this.error = data.message;
              this.modalToggle();
            }
          })
      },
      dataGeneration() {
        let formData = new FormData();
        formData.append('position_id', this.$store.state.newUser.position_id);
        formData.append('name', this.$store.state.newUser.name);
        formData.append('email', this.$store.state.newUser.email);
        formData.append('phone', this.$store.state.newUser.phone.replace(/\D/g, ''));
        formData.append('photo', this.$store.state.newUser.photo);
        return formData;
      },

      modalToggle() {
        this.dialog = !this.dialog;
      },
      registerSuccess() {
        if (!this.error) {
          this.$store.commit('updateName', '');
          this.$store.commit('updateEmail', '');
          this.$store.commit('updatePhone', '');
          this.$refs.form.reset();
          this.isFileOk = true;
        }
        this.modalToggle();
      }
    },
    created() {
      this.$store.commit('getPositions');
      this.$store.commit('updateName', '');
      this.$store.commit('updateEmail', '');
      this.$store.commit('updatePhone', '');
    }
  };
</script>

<style lang="scss" scoped>
  .base {
    &__container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      @media only screen and (max-width: 1024px) {
        padding: 0 47px;
      }
      @media only screen and (max-width: 834px) {
        padding: 0 25px;
      }
      @media only screen and (max-width: 320px) {
        padding: 0 15px;
      }
    }

    &__content-block {
      padding-top: 131px;
      padding-bottom: 129px;
      @media only screen and (max-width: 1024px) {
        padding-top: 130px;
        padding-bottom: 128px;
      }
      @media only screen and (max-width: 768px) {
        padding-top: 91px;
        padding-bottom: 81px;
      }
      @media only screen and (max-width: 640px) {
        text-align: center;
        padding-top: 54px;
        padding-bottom: 60px;
      }
    }

    &__heading {
      text-align: center;
      margin-bottom: 32px;
      letter-spacing: 0.5px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 10px;
      }
    }

    &__attention {
      text-align: center;
      margin-bottom: 48px;
      color: #010000;
      @media only screen and (max-width: 768px) {
        margin: 0 170px 55px
      }
      @media only screen and (max-width: 640px) {
        margin: 0 0 39px;
        p {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &__link {
      text-decoration: none;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      line-height: 1;
      transition-duration: 0.2s;
      color: #000000;
      @media (hover), (min-width: 0 \0
      ), (min--moz-device-pixel-ratio: 0) {
        &:hover {
          color: #ef6c00;
        }
      }
    }

    &__link-bold {
      color: #ef6c00;
      font-size: 22px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 900;
      @media (hover), (min-width: 0 \0
      ), (min--moz-device-pixel-ratio: 0) {
        &:hover {
          color: #fc831f;
        }
      }
    }
  }

  .requirements {
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-image: url('/img/bg-2-xlDesktop.jpg');

    @media only screen and (max-width: 1024px) {
      background-image: url('/img/bg-2-Desktop.jpg');
    }
    @media only screen and (max-width: 768px) {
      background-image: url('/img/bg-2-Tablet.jpg');
    }
    @media only screen and (max-width: 640px) {
      background-image: url('/img/bg-2-Mobile.jpg');
    }
    // Retina background image configurations
    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {

      background-image: url('/img/bg-2-xlDesktop-retina.jpg');

      @media only screen and (max-width: 1024px) {
        background-image: url('/img/bg-2-Desktop-retina.jpg');
      }
      @media only screen and (max-width: 768px) {
        background-image: url('/img/bg-2-Tablet-retina.jpg');
      }
      @media only screen and (max-width: 640px) {
        background-image: url('/img/bg-2-Mobile-retina.jpg');
      }
    }

    &__container {
      padding-bottom: 90px;
      @media only screen and (max-width: 1024px) {
        padding-bottom: 141px;
      }
      @media only screen and (max-width: 768px) {
        padding-top: 110px;
        padding-bottom: 107px;
      }
      @media only screen and (max-width: 600px) {
        padding-top: 63px;
        padding-bottom: 53px;
      }
    }

    &__heading {
      & h1 {
        font-family: 'Overpass', sans-serif;
        font-size: 42px;
        line-height: 51px;
        @media only screen and (max-width: 640px){
          font-size: 26px;
          line-height: 31px;
        }
      }
      @media only screen and (max-width: 768px) {
        padding: 0 140px;
        margin-bottom: 28px;
      }
      @media only screen and (max-width: 600px) {
        padding: 0 0px;
        margin-bottom: 17px;
      }
    }

    &__content {

    }

    &__description {
      order: 2;
    }

    &__description-p {
      @media only screen and (max-width: 960px) {
        padding: 0 0 0 1px;
      }
      @media only screen and (max-width: 600px) {
        padding: 0 0 0 0px;
      }
    }

    &__img {
      order: 3;
      @media only screen and (max-width: 600px) {
        order: 1;
      }
    }

    &__img-svg {
      &-v1 {
        margin: 2px 0 0 67px;
        @media only screen and (max-width: 1024px) {
          margin: 14px 0 0 25px;
        }
        @media only screen and (max-width: 960px) {
          position: absolute;
          opacity: 0;
          width: 0;
        }
        @media only screen and (max-width: 600px) {
          width: 100%;
          height: 216px;
          position: relative;
          opacity: 1;
          margin: 0;
        }
      }

      &-v2 {
        display: none;
        @media only screen and (max-width: 960px) {
          display: block;
          margin: 5px 0 0 3px;
          width: 100%;
        }
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }

  .form {
    &__container {
      padding-bottom: 140px;
      @media only screen and (max-width: 768px) {
        padding-bottom: 101px;
      }
      @media only screen and (max-width: 640px) {
        padding-bottom: 60px;
      }
    }

    &__heading {
      margin-bottom: 14px;
      @media only screen and (max-width: 768px) {
        margin-bottom: 26px;
      }
      @media only screen and (max-width: 640px) {
        margin-bottom: 16px;
      }
    }

    &__attention {
      @media only screen and (min-width: 1025px) {
        margin-bottom: 62px;
      }
      @media only screen and (max-width: 1024px) {
        margin-bottom: 64px;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 55px;
        p {
          line-height: 21px;
        }
      }
      @media only screen and (max-width: 640px) {
        margin-bottom: 40px;
      }
    }

    &__field {
      margin-top: -14px;

      @media only screen and (max-width: 640px) {
        margin-top: -19px;
      }
    }

    &__button {
      margin-top: 19px;
      @media only screen and (max-width: 640px) {
        margin-top: 12px;
      }
    }
  }

  .popup_button {
    text-transform: uppercase;
  }
</style>
