<template>
  <div itemscope itemtype="https://schema.org/Thing" class="terms">
    <div class="terms__heading-block">
      <div class="base__container base__content-block">
        <div class="terms__heading">
          <base-typography component="h1" itemprop="name">
            {{ $t('Terms and Conditions') }}
          </base-typography>
        </div>
        <div class="terms__attention-wrap">
          <base-typography class="terms__attention" component="p1" itemprop="description">
            {{ $t('A wonderful serenity has taken possession of my entire soul') }}
          </base-typography>
        </div>
      </div>
    </div>
    <div class="terms__main-info">
      <div class="base__container base__content-block">
        <div itemscope itemtype="https://schema.org/Thing" class="info-section">
          <div class="info-section__heading">
            <base-typography
              itemprop="name"
              component="h3"
              v-html="$t('For science, music, sport, etc')"
            ></base-typography>
          </div>
          <div class="info-section__paragraphs">
            <base-typography
              itemprop="description"
              component="p2"
              v-html="$t('The new common language will be more simple')"
            ></base-typography>
          </div>
        </div>
        <div itemscope itemtype="https://schema.org/Thing" class="info-section">
          <div class="info-section__heading">
            <base-typography
              itemprop="name"
              component="h3"
              v-html="$t('The new common language will be more simple and regular')"
            ></base-typography>
          </div>
          <div class="info-section__paragraphs inner-paragraph">
            <base-typography
              itemprop="description"
              component="p2"
              v-html="$t('For science, music, sport, etc, Europe uses the same vocabulary')"
            ></base-typography>
          </div>

          <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="info-section__list">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="info-section__list-item">
              <base-typography component="p2" itemprop="item" itemscope itemtype="https://schema.org/Thing">
                <span itemprop="name">
                  {{$t('The new common language')}}
                </span>
              </base-typography>
              <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="info-section__list-item">
              <base-typography component="p2" itemprop="item" itemscope itemtype="https://schema.org/Thing">
                <span itemprop="name">
                  {{$t('It will be as simple as Occidental')}}
                </span>
              </base-typography>
              <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="info-section__list-item">
              <base-typography component="p2" itemprop="item" itemscope itemtype="https://schema.org/Thing">
                <span itemprop="name">
                  {{$t('To an English person, it will seem like simplified English')}}
                </span>
              </base-typography>
              <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="info-section__list-item">
              <base-typography component="p2" itemprop="item" itemscope itemtype="https://schema.org/Thing">
                <span itemprop="name">
                  {{$t('The European languages are members of the same family')}}
                </span>
              </base-typography>
              <meta itemprop="position" content="4" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="info-section__list-item">
              <base-typography component="p2" itemprop="item" itemscope itemtype="https://schema.org/Thing">
                <span itemprop="name">
                  {{$t('For science, music')}}
                </span>
              </base-typography>
              <meta itemprop="position" content="5" />
            </li>
          </ul>

          <div class="info-section__paragraphs">
            <base-typography
              itemprop="description"
              component="p2"
              v-html="$t('The languages only differ in their grammar')"
            ></base-typography>
          </div>
        </div>
        <div itemscope itemtype="https://schema.org/Thing" class="info-section">
          <div class="info-section__heading">
            <base-typography
              itemprop="name"
              component="h3"
              v-html="$t('Cambridge friend of mine told me what Occidental is')"
            ></base-typography>
          </div>
          <div class="info-section__heading-second">
            <base-typography
              itemprop="description"
              component="h4"
              v-html="$t('1. Everyone realizes why')"
            >
            </base-typography>
          </div>
          <div class="info-section__paragraphs inner-paragraph">
            <base-typography
              itemprop="description"
              component="p2"
              v-html="$t('The new common language will be more simple and regular than the existing European languages')"
            ></base-typography>
          </div>
          <div class="info-section__heading-second">
            <base-typography
              itemprop="description"
              component="h4"
              v-html="$t('2.  It will be as simple as Occidental')"
            ></base-typography>
          </div>
          <div class="info-section__paragraphs inner-paragraph">
            <base-typography
              itemprop="description"
              component="p2"
              v-html="$t('If several languages coalesce')"
            ></base-typography>
            <br>
            <base-typography
              component="p2"
              style="display: inline"
              v-html="$t('To achieve this, it would be necessary to have uniform grammar')"
            ></base-typography>
            <base-typography
              itemprop="description"
              component="p2"
              style="display: inline;color: #ef6c00; font-weight: 700"
            >
              {{ $t('pronunciation and more common words') }}
            </base-typography>
            <base-typography
              itemprop="description"
              component="p2"
              style="display: inline"
              v-html="$t('If several languages coalesce, the grammar of the resulting language')"
            ></base-typography>
          </div>
          <div class="info-section__heading-second">
            <base-typography
              itemprop="description"
              component="h4"
              v-html="$t('3. Their separate existence is a myth')"
            >
            </base-typography>
          </div>
          <div class="info-section__paragraphs">
            <base-typography
              itemprop="description"
              component="p2"
              v-html="$t('If several languages coalesce, the grammar of the resulting language is more simple')"
            ></base-typography>
          </div>
        </div>
        <div class="info-section">
          <div itemscope itemtype="https://schema.org/Thing" class="info-section__heading">
            <base-typography
              itemprop="name"
              component="h3"
              v-html="$t('To take a trivial example')"
            ></base-typography>
          </div>
          <div class="info-section__paragraphs">
            <base-typography
              itemprop="description"
              component="p2"
              v-html="$t('On the other hand, we denounce with righteous indignation and dislike men who are so beguiled')"
            ></base-typography>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseTypography from "~/components/BaseTypography.vue";

  export default {
    head: () => ({
      title: 'Terms and Conditions',
    }),
    components: {
      BaseTypography,
    }
  }
</script>

<style lang="scss">
  .base {
    &__container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      @media only screen and (max-width: 1024px) {
        padding: 0 47px;
      }
      @media only screen and (max-width: 834px) {
        padding: 0 25px;
      }
      @media only screen and (max-width: 320px) {
        padding: 0 15px;
      }
    }

    &__content-block {
      padding-top: 52px;
      padding-bottom: 59px;
      @media only screen and (max-width: 768px) {
        padding-top: 42px;
        padding-bottom: 49px;
      }
      @media only screen and (max-width: 640px) {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    &__heading {
      text-align: center;
      margin-bottom: 20px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 14px;
      }
    }

    &__attention {
      text-align: center;
      margin-bottom: 15px;
      color: #000000;
    }
  }

  .terms {
    * {
      color: #393939;
    }

    &__heading-block {
      background-color: #f6f6f6;
      text-align: center;
    }

    &__heading {
      margin-bottom: 10px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 15px;
      }
      & h1 {
        font-family: 'Overpass', sans-serif;
        font-size: 42px;
        line-height: 51px;
        @media only screen and (max-width: 640px){
          font-size: 26px;
          line-height: 31px;
        }
      }
    }

    &__main-info {
      background-color: #fff;
    }

    &__attention {
      color: #010000;
      font-weight: 400;
      @media only screen and (max-width: 640px) {
        line-height: 20px;
        font-size: 16px;
      }
    }
  }

  .info-section {
    text-align: left;

    &__heading {
      margin-bottom: 19px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 12px;
      }
    }

    &__heading-second {
      margin-bottom: 20px;
      @media only screen and (max-width: 640px) {
        margin-bottom: 8px;
        h4 {
          font-size: 18px;
        }
      }
    }

    &__paragraphs {
      margin-bottom: 50px;
      @media only screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
      @media only screen and (max-width: 640px) {
        margin-bottom: 20px;
      }
    }

    &__list {
      margin-bottom: 20px;
    }

    &__list-item {
      margin: 6px 0;
    }
  }

  .terms .v-application ol, .v-application ul {
    padding-left: 32px;
    list-style-type: disc;
    font-size: 20px;
  }

  .info-section:last-child .info-section__paragraphs {
    margin-bottom: 0;
  }

  .inner-paragraph {
    margin-bottom: 18px;
  }
</style>
